<!DOCTYPE html>
<html lang="en">
<head>
    <title>Winners</title>
</head>
<body>
    <div id="winners-list">
        <h1>Winners List</h1>

        <label for="filter-by-winner">Filter by Winner:</label>
        <select id="filter-by-winner" name="winner_name">
            <option value="">All</option>
            {% for winner in winners_list %}
                <option value="{{ winner.winner_name }}">{{ winner.winner_name }}</option>
            {% endfor %}
        </select>

        <ul>
            {% for winner in winners_list %}
            <li>
                {{ winner.item_name }} - {{ winner.winner_name }} - Winning Bid: {{ winner.winning_bid }}
            </li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('dashboard') }}"><button id="back-to-dashboard">Back to Dashboard</button></a>
    </div>
</body>
</html>