<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Playlist</title>
</head>
<body>
    <main id="main-container">
        <h1>Create New Playlist</h1>
        <form method="post" action="{{ url_for('create_playlist') }}">
            <label for="playlist-name-input">Playlist Name:</label>
            <input type="text" id="playlist-name-input" name="title" required>
            <label for="playlist-description-input">Description:</label>
            <textarea id="playlist-description-input" name="description" required></textarea>
            <button type="submit">Create Playlist</button>
            <button type="button" id="cancel-create-button" onclick="window.location.href='{{ url_for('playlists_page') }}'">Cancel</button>
        </form>
    </main>
</body>
</html>
