<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Restaurant</title>
</head>
<body>
<div id="dashboard_div">
    <h1 id="welcome_msg">Welcome, {{ username }}</h1>

    <button id="make_reserve_btn" onclick="location.href='{{ url_for('make_reservation') }}'">Make Reservation</button>
    <button id="view_menu_btn" onclick="location.href='{{ url_for('menu') }}'">View Menu</button>
    <button id="back_dashboard_btn" onclick="location.href='{{ url_for('dashboard') }}'">Refresh Dashboard</button>
    <button id="my_reservations_btn" onclick="location.href='{{ url_for('my_reservations') }}'">My Reservations</button>
    <button id="my_review_btn" onclick="location.href='{{ url_for('my_reviews') }}'">My Reviews</button>
    <button id="waitlist_btn" onclick="location.href='{{ url_for('waitlist') }}'">Waitlist</button>
    <button id="profile_btn" onclick="location.href='{{ url_for('profile') }}'">Profile</button>

    <h2>Featured Dishes</h2>
    <ul>
        {% for dish in featured_dish %}
            <li>{{ dish.name }} - ${{ dish.price }}</li>
        {% endfor %}
    </ul>

    <h2>Upcoming Reservations</h2>
    <ul>
        {% for reservation in upcoming_reservations %}
            <li>ID: {{ reservation.reservation_id }}, Date: {{ reservation.date }}, Time: {{ reservation.time }}, Party Size: {{ reservation.party_size }}, Status: {{ reservation.status }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>