<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Dish</title>
</head>
<body>
<div id="dish_detail_page">
    {% for dish in dish %}
    <h1 id="dish_title">{{ dish.name }}</h1>
    <div id="dish_cost">Price: ${{ dish.price }}</div>
    <div>Description: {{ dish.description }}</div>
    <div>Ingredients: {{ dish.ingredients }}</div>
    <div>Dietary Info: {{ dish.dietary }}</div>
    <div>Average Rating: {{ dish.avg_rating }}</div>
    {% endfor %}
    <button id="back_menu_btn" onclick="location.href='{{ url_for('menu') }}'">Back to Menu</button>
</div>
</body>
</html>