<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Reservation</title>
</head>
<body>
    <h1>Make a Reservation</h1>
    {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
    <form method="post" action="{{ url_for('make_reservation') }}">
        Guest Name: <input type="text" name="guestname"><br>
        Date: <input type="date" name="date"><br>
        Time: <input type="time" name="time"><br>
        Party Size: <input type="number" name="party_size" min="1"><br>
        <input type="submit" value="Reserve">
    </form>
</body>
</html>
