<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile My</title>
</head>
<body>
<div id="profile_div">
    {% for user in user_profile %}
    <div id="profile_user_name_div">Username: {{ user.username }}</div>
    <form method="PUT" action="{{ url_for('profile') }}">
        <label for="profile_email_input">Email:</label>
        <input id="profile_email_input" type="email" name="emailInput" value="{{ user.email }}">
        <button id="update_profile_btn" type="submit">Update Profile</button>
    </form>
    {% endfor %}
    <button id="back_dashboard_btn" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
</div>
</body>
</html>