<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait list</title>
</head>
<body>
<div id="waitlist_div">
    <form method="GET" action="{{ url_for('waitlist') }}">
        <label for="wait_party_size_dropdown">Party Size:</label>
        <select id="wait_party_size_dropdown" name="party">
            {% for size in party_size_opts %}
            <option value="{{ size }}">{{ size }}</option>
            {% endfor %}
        </select>
        <button id="join_waitlist_btn" type="submit">Join Waitlist</button>
    </form>
    <div id="user_pos">Your position in waitlist: {{ user_pos }}</div>
    <button id="back_dashboard_btn" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
</div>
</body>
</html>