<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Reviews</title>
</head>
<body>
<div id="write_review_div">
    <form method="PUT" action="{{ url_for('write_review') }}">
        <label for="select_dish_dropdown">Select Dish:</label>
        <select id="select_dish_dropdown" name="dish_selected">
            {% for dish in dishes %}
            <option value="{{ dish.dish_id }}">{{ dish.name }}</option>
            {% endfor %}
        </select>

        <label for="rating_input_dropdown">Rating:</label>
        <select id="rating_input_dropdown" name="rating_input">
            {% for i in range(0, 11) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <label for="review_textarea">Review Text:</label>
        <textarea id="review_textarea" name="reviewText"></textarea>

        <button id="submit_review_btn" type="submit">Submit Review</button>
    </form>
    <button id="back_reviews_btn" onclick="location.href='{{ url_for('my_reviews') }}'">Back to My Reviews</button>
</div>
</body>
</html>