{% extends 'layout.html' %}
{% block content %}
<div id="locations-list-section">
    {% if locations %}
    <table id="locations-list" border="1" cellspacing="0" cellpadding="5" role="grid" aria-describedby="locations-desc">
        <caption id="locations-desc">List of Rental Locations</caption>
        <thead>
            <tr>
                <th scope="col">Location ID</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Hours</th>
                <th scope="col">Available Vehicles</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr id="location-{{ location.location_id }}">
                <td>{{ location.location_id }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.address }}</td>
                <td>{{ location.phone }}</td>
                <td>{{ location.hours }}</td>
                <td>{{ location.available_vehicles }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No locations available.</p>
    {% endif %}
</div>
{% endblock %}