</table> <thead>
onclick="location.href='{{ url_for('dashboard_page') }}'">Back <th>Seats</th>
History</h1>
{% endfor %} </html>
ID</th> <td><button
<tr>
lang="en">
</tr> <title>Booking
id="bookings-page"> {% endfor %}
<td>{{ booking.status }}</td> <th>Booking
</select> {% for booking in bookings %} <th>Date</th>
<td>{{ booking.seats_booked | join(', ') }}</td>
<body> </tbody>
<table
charset="UTF-8">
html> <!DOCTYPE <th>Movie</th>
</head>
Statuses</option>
<div </body>
<th>Details</th>
id="status-filter">
</tr>
value="">All
id="view-booking-button-{{ booking.booking_id }}"
border="1">
<html
</thead>
<tbody>
{% for status_option in filter_status_options %}
<meta
to
<tr>
<th>Status</th>
<select
id="bookings-table" <head> <option
Dashboard</button>
<h1>Booking
<td>{{ booking.booking_id }}</td>
</div>
value="{{ status_option }}">{{ status_option }}</option> <td>{{ booking.booking_date }}</td> onclick="location.href='{{ url_for('booking_details', booking_id=booking.booking_id) }}'">View</button></td> <option <td>{{ booking.movie_title }}</td>
id="back-to-dashboard"
<button
History</title>