id="view-bookings-button" charset="UTF-8">
Dashboard</title> <p>Duration:
Ticketing
<div Ticketing
Dashboard</h1> id="showtimes-button" <div
minutes</p>
{% for movie in featured_movies %}
</div> id="dashboard-page">
id="featured-movies"> <p>Rating: Movies</button>
html> <title>Movie
</html>
lang="en"> onclick="location.href='{{ url_for('select_showtime', movie_id=featured_movies[0].movie_id if featured_movies|length > 0 else 0) }}'">Showtimes</button>
class="featured-movie">
onclick="location.href='{{ url_for('booking_history') }}'">View id="browse-movies-button"
Bookings</button> <!DOCTYPE
<button <button <meta
<head>
<html
{% endfor %}
{{ movie.genre }}</p> </div> </head> <div
</body> </div> <button <h1>Movie
{{ movie.duration }} {{ movie.rating }}</p> <p>Genre:
<body>
<h3>{{ movie.title }}</h3>
onclick="location.href='{{ url_for('movie_catalog') }}'">Browse