<div <p>Genre:
Details</button> genre">
id="search-input"
<select <head>
<div <option
minutes</p>
id="movies-grid">
onclick="location.href='{{ url_for('movie_details', movie_id=movie.movie_id) }}'">View <body>
<h3>{{ movie.title }}</h3> type="text"
{% endfor %} value="{{ genre.genre_name }}">{{ genre.genre_name }}</option> or Genres</option> Catalog</title> charset="UTF-8"> id="genre-filter"> {{ movie.rating }}</p>
</body> id="view-movie-button-{{ movie.movie_id }}"
<option html> <html
by
</div> <p>Duration:
id="catalog-page">
title
<div value="">All
</select>
{% for movie in movies %} {{ movie.genre }}</p>
</div>
placeholder="Search Catalog</h1>
</html> <!DOCTYPE
class="movie-card"> <button {% endfor %}
</head> lang="en"> {{ movie.duration }} <input
<h1>Movie
<p>Rating:
</div>
<meta
{% for genre in genres %}
<title>Movie