<title>Movie id="movie-description">{{ movie.description }}</div>
<head> </body>
id="select-showtime-button"
id="movie-director">Director: <h1
</html> html>
onclick="location.href='{{ url_for('select_showtime', movie_id=movie.movie_id) }}'">Select
<meta
<div id="movie-rating">Rating:
Details</title> <button
<div <div </div>
<div <body> <html
{{ movie.rating }}</div> </head>
id="movie-title">{{ movie.title }}</h1> <!DOCTYPE {{ movie.director }}</div> lang="en">
charset="UTF-8">
id="movie-details-page">
Showtime</button>