<div <meta
</div> data-seat-type="{{ seat.seat_type }}">{{ seat.row }}{{ seat.column }}</button>
<h1>Select
lang="en"> id="seat-selection-page">
<html Booking</button>
</body>
Seats</h1>
<title>Select id="proceed-booking-button"
Seats</title> </head>
charset="UTF-8"> data-seat-id="{{ seat.seat_id }}"
<div
id="selected-seats-display"> data-column="{{ seat.column }}" onclick="location.href='{{ url_for('booking_confirmation', showtime_id=selected_showtime.showtime_id) }}'">Proceed <head> <body> </html> html> id="seat-map"> {{ seat.status|lower }}"
<button
<button
id="selected-seats-list"> class="seat
to data-row="{{ seat.row }}"
id="seat-{{ seat.row }}{{ seat.column }}" <div
</ul>
data-status="{{ seat.status }}"
{% for seat in seat_map %} Selected <!DOCTYPE </div> </div>
{% endfor %}
<ul
Seats: