type="submit" required>
type="text" required></textarea>
to
<br> value="Dog">Dog</option>
<br> name="species" value="Other">Other</option>
<option
<html
lang="en"> id="back-to-dashboard"
</form> id="submit-pet-button">Add </div>
<label
<meta <label id="pet-age-input"
<option
value="Cat">Cat</option>
value="Rabbit">Rabbit</option> Dashboard</button> id="pet-species-input"
name="name"
<option <button id="pet-breed-input"
<br> {% endif %}
method="post" <select value="Female">Female</option> required> style="color:green;">{{ success_msg }}</div>
type="text"
for="pet-name-input">Name:</label> value="Small">Small</option>
required> <input id="pet-description-input" for="pet-size-input">Size:</label>
<label id="pet-gender-input"
for="pet-description-input">Description:</label> <div
</html> <label
<select value="Medium">Medium</option>
<input
required>
Pet</title> <title>Add
</select> <button {% if success_msg %} value="Male">Male</option> <body>
<label
type="text" id="add-pet-page">
<option <form value="Unknown">Unknown</option> name="gender" <option
</body>
id="error-msg" for="pet-species-input">Species:</label>
<textarea <div id="pet-size-input" <option
</select> html>
<option <option
<select id="success-msg"
<div
{% endif %}
<label <label
{% if error_msg %} charset="UTF-8"> for="pet-gender-input">Gender:</label> <br>
<br> Pet</button>
name="breed" <br>
id="pet-name-input" for="pet-breed-input">Breed:</label>
New
name="size"
required> <!DOCTYPE
name="description" New <option value="Large">Large</option>
<h1>Add
name="age" required> onclick="location.href='{{ url_for('dashboard') }}'">Back <option
style="color:red;">{{ error_msg }}</div>
action=""> for="pet-age-input">Age:</label> </head> </select> <input
<br>
Pet</h1>
<head>