required> for="housing-type">Housing
value="Other">Other</option> id="error-msg"
{% endif %}
{% endif %} <label
for <div
id="success-msg"
<html
<br> for="applicant-name">Name:</label>
<br> name="applicant_name"
<option
<button <button Application</button>
<option
<div
lang="en"> type="submit" <div
<body>
required></textarea> value="House">House</option> <label
</body> value="Apartment">Apartment</option>
method="post" <select <br> id="applicant-phone" required>
<label
id="reason" id="application-page">
style="color:green;">{{ success_msg }}</div> </form> required> <h1>Adoption <meta
Application</title>
</div> type="text" <head>
</select> <!DOCTYPE Application</h1> {% if error_msg %}
onclick="location.href='{{ url_for('pet_details', pet_id=pet.pet_id) }}'">Back type="text"
for="applicant-phone">Phone:</label> charset="UTF-8">
<br> name="phone"
for="reason">Reason
<label
<form Adoption:</label> id="applicant-name" style="color:red;">{{ error_msg }}</div>
<input html> id="back-to-pet" Pet</button>
<option
{% if success_msg %} <textarea id="submit-application-button">Submit </html>
to
name="reason" Type:</label> </head> action=""> name="housing_type"
id="housing-type"
<input
<title>Adoption