<head> onclick="location.href='{{ url_for('dashboard') }}'">Back
<!DOCTYPE <meta
{{ pet.name }}">
</div> </div>
</body> of
<title>My
<p>Species:
<html lang="en">
id="favorite-pet-{{ pet.pet_id }}"> alt="Photo
<div <button
</head>
<h1>My html> to
charset="UTF-8"> <h3>{{ pet.name }}</h3> {% endfor %} <body> {{ pet.species }}</p>
id="favorites-grid">
Dashboard</button> <div
{% for pet in favorite_pets %}
</html>
Favorites</title>
<img class="favorite-pet" id="favorites-page"> Favorites</h1> id="back-to-dashboard"
</div>
src="{{ pet.photo_url }}"
<div