<button <head>
<tbody> <body>
lang="en">
Applications</h1> <th>Application
<td>{{ app.pet_name }}</td> Applications</title>
<th>Date
html>
to <table
<tr> id="filter-status">
</div> {% endfor %}
<title>My {% for app in applications %} <td>{{ app.date_submitted }}</td>
value="Rejected">Rejected</option> <select
</tr> <div
<option <td>{{ app.status }}</td>
<option
value="Pending">Pending</option> <h1>My <!DOCTYPE
border="1">
<th>Status</th>
</select> </body>
</tbody> value="">All
id="back-to-dashboard" <td>{{ app.application_id }}</td>
Name</th>
<meta
</tr>
id="my-applications-page">
</table>
Dashboard</button>
</html>
<html
<tr>
value="Approved">Approved</option>
id="applications-table"
onclick="location.href='{{ url_for('dashboard') }}'">Back
<th>Pet
</thead>
<thead> Statuses</option> </head> ID</th> <option
charset="UTF-8">
<option
Submitted</th>