<!DOCTYPE <div
<h1 <title>Pet
Listings</button>
<p>Breed: </html>
</head> <div
html>
id="pet-name">{{ pet.name }}</h1>
to <p>Description:
id="pet-description"> <head>
<div <html Details</title>
<p>Age: <button
onclick="location.href='{{ url_for('adoption_application', pet_id=pet.pet_id) }}'">Adopt</button> <p>Gender:
id="adopt-button" </div>
{{ pet.gender }}</p> {{ pet.species }}</div>
{{ pet.size }}</p> <button
<meta {{ pet.breed }}</p>
id="pet-species">Species:
<body> </body> </div>
lang="en"> charset="UTF-8"> {{ pet.age }}</p> onclick="location.href='{{ url_for('pet_listings') }}'">Back id="back-to-listings"
<p>Size:
id="pet-details-page">
{{ pet.description }}</p>