<div value="{{ user_profile.email }}"
id="update-profile-button">Update <meta
<input
{% if success_msg %} to
method="post" <br>
charset="UTF-8">
id="profile-username">Username:
html> {% endif %}
<div style="color:red;">{{ error_msg }}</div>
</div>
required> id="success-msg" Profile</h1>
<button
for="profile-email">Email:</label>
{% if error_msg %} <form id="back-to-dashboard"
<!DOCTYPE
lang="en"> type="submit" Dashboard</button>
action=""> {% endif %} </body>
Profile</title> </html>
Profile</button> <div type="email" </form> </head> style="color:green;">{{ success_msg }}</div>
{{ user_profile.username }}</div>
<label <head> <h1>My <body>
<title>My
id="profile-page"> id="error-msg" onclick="location.href='{{ url_for('dashboard') }}'">Back name="email" id="profile-email"
<button
<html
<div