<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div id="dashboard-container">
        <h1>Dashboard</h1>
        <button id="view-exhibitions-button" onclick="window.location.href='{{ url_for('exhibitions') }}'">Exhibitions</button>
        <button id="view-artists-button" onclick="window.location.href='{{ url_for('artists') }}'">Artists</button>
        <button id="view-artworks-button" onclick="window.location.href='{{ url_for('artworks') }}'">Artworks</button>
        <button id="logout-button" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
    </div>
</body>
</html>