<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Exhibition</title>
</head>
<body>
    <div id="view-exhibition-container">
        <h1>View Exhibition</h1>
        <p id="exhibition-name">Name: {{ exhibition.name }}</p>
        <p id="exhibition-location">Location: {{ exhibition.location }}</p>
        <p id="exhibition-start-date">Start Date: {{ exhibition.start_date }}</p>
        <p id="exhibition-end-date">End Date: {{ exhibition.end_date }}</p>
        <button id="edit-exhibition-button" onclick="window.location.href='{{ url_for('edit_exhibition', exhibition_id=exhibition.exhibition_id) }}'">Edit</button>
        <button id="exhibitions-button" onclick="window.location.href='{{ url_for('exhibitions') }}'">Exhibitions</button>
    </div>
</body>
</html>