<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menuu</title>
</head>
<body>
    <div id="menu-pag">
        <div id="menu-grd">
            {% for dish in menus %}
            <div class="dish-card">
                <h3>{{ dish.name }}</h3>
                <p>Price: ${{ dish.price }}</p>
                <p>{{ dish.description }}</p>
                <button id="view-dish-btn-{{ dish.dish_id }}" onclick="location.href='{{ url_for('dish_detail', dish_id=dish.dish_id) }}'">View Details</button>
            </div>
            {% endfor %}
        </div>
        <button id="back-to-dashbord" onclick="location.href='{{ url_for('dashbord') }}'">Back to Dashboard</button>
    </div>
</body>
</html>
