<head>
<meta charset="UTF-8">
</head>

<div id="article-details-page">
<h1 id="article-title">{{ article.title }}</h1>
<p id="article-author">Author: {{ article.author }}</p>
<p>Date: {{ article.date }}</p>
<div id="article-content">{{ article.content }}</div>

{% if article.is_bookmarked %}
    <form method="POST" action="{{ url_for('bookmark_article', article_id=article.article_id) }}">
        <button type="submit">Remove Bookmark</button>
    </form>
{% else %}
    <form method="POST" action="{{ url_for('bookmark_article', article_id=article.article_id) }}">
        <button type="submit">Bookmark Article</button>
    </form>
{% endif %}

</div>
<!-- Page content here -->
</div>
</body>