<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bookmarks</title>
</head>
<body>

<div id="bookmarks-page">
<h1>{{ page_title }}</h1>

<ul>
{% for bookmark in bookmarks %}
<li>
{{ bookmark.article_title }} {{ bookmark.bookmarked_date }}
<form method="POST">
<button id="read-bookmark-button-{{ bookmark.bookmark_id }}" onclick="location.href='{{ url_for('article_details', article_id=bookmark.article_id) }}'" type="button">Read</button>
</form>
</li>
{% endfor %}
</ul>

<button onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>

</div>

</body>
</html>