{% endfor %} Dashboard</button>
<head> id="back-to-dashboard"
<th>Timestamp</th>
type="text" </thead>
<th>Device id="apply-search-button">Apply
<td>{{ log.action }}</td>
</tr>
</tbody> lang="en">
Logs</title> Search</button>
for="search-activity">Search:</label> <thead> {% for log in activity_logs %}
id="activity-table" <tr>
<form <tbody> <div <body>
</div> <input name="search_query"> </head>
<td>{{ log.timestamp }}</td>
<!DOCTYPE action="{{ url_for('apply_activity_search') }}"> ID</th>
<h1>Activity
<button
<th>Action</th>
<label onclick="location.href='{{ url_for('dashboard_page') }}'">Back
</form>
<td>{{ log.device_id }}</td>
id="search-activity"
border="1">
<td>{{ log.details }}</td>
</html>
<tr>
Logs</h1>
type="submit"
<table
to
</body>
method="POST"
id="activity-page">
charset="UTF-8">
html> <th>Details</th> <title>Activity </table> <button
<html
<meta
</tr>