to <h1>Device
<form html>
<meta
method="POST" {{ device.status }}</div>
id="power-toggle" Settings</button>
<button
<button
onclick="location.href='{{ url_for('device_list_page') }}'">Back name="power_toggle">Toggle
</body> Device
Control</h1> id="device-name-display">{{ device.device_name }}</h2>
id="back-to-devices" id="save-settings-button">Save <button
<body> lang="en"> Power</button>
</html> type="submit" <html List</button> <h2
</form> <div <!DOCTYPE id="device-control-page">
<head>
action="{{ url_for('save_device_settings', device_id=device.device_id) }}"> type="submit" </div> id="device-status-display">Status: </head> <title>Device
Control</title>
charset="UTF-8">
<div