Events</button> <button
id="browse-events-button" <html
{% endfor %}
Planning </div>
lang="en"> <h1>Event <h2>{{ event.event_name }}</h2>
<p>Location:
<div
html> </body>
<div id="dashboard-page"> <meta
</head> </div>
Planning
onclick="location.href='{{ url_for('bookings_summary_page') }}'">View <title>Event
<button
Dashboard</title> <head>
id="view-tickets-button" class="featured-event">
id="featured-events">
<!DOCTYPE
{{ event.location }}</p>
onclick="location.href='{{ url_for('events_listing_page') }}'">Browse charset="UTF-8"> {{ event.date }}</p> </html>
Dashboard</h1> </div> onclick="location.href='{{ url_for('venues_page') }}'">Venues</button> id="venues-button"
<p>Date: <body> <div
<button
Tickets</button>
{% for event in featured_events %}
