<option <div
Details</button> <option
charset="UTF-8">
value="Social">Social</option> <div
{{ event.category }}</p> id="event-search-input"
{% for event in events %}
placeholder="Search
name, Catalog</title>
</div> name="category">
id="events-grid"> <body> <select
html> <h1>Events action="{{ url_for('events_search_filter') }}"> date" <option </select> <p>Location: </head> method="POST" <meta
<button by <option
onclick="location.href='{{ url_for('event_details_page', event_id=event.event_id) }}'">View lang="en"> {{ event.date }}
id="events-page"> {{ event.time }}</p>
value="Workshop">Workshop</option> id="view-event-button-{{ event.event_id }}"
<form <title>Events
type="submit">Filter</button> </html>
</div> <p>Category:
name="search"
<option <input
Categories</option>
{% endfor %} <option
<div
id="event-category-filter" </form>
<html
Catalog</h1> <button
value="Conference">Conference</option> /> value="">All
value="Sports">Sports</option> <p>Date:
</body>
{{ event.location }}</p> <p>{{ event.description }}</p> <!DOCTYPE location,
type="text"
</div>
<head>
class="event-card">
<h2>{{ event.event_name }}</h2>
value="Concert">Concert</option>
