<!DOCTYPE </body>
id="event-details-page"> onclick="location.href='{{ url_for('ticket_booking_page') }}?event_id={{ event.event_id }}'">Book
Ticket</button>
<head> <button
id="event-description">{{ event.description }}</div>
<html
<div
<body> id="book-ticket-button"
id="event-date">{{ event.date }} id="event-title">{{ event.event_name }}</h1>
<h1 <div </div>
<meta </html>
<div charset="UTF-8">
{{ event.time }}</div> html> lang="en"> <title>{{ event.event_name }}</title>
</head>
<div
id="event-location">{{ event.location }}</div>
