/> name
placeholder="Search </tr>
id="participants-table"
</html> <tr>
</tbody> <td>{{ participant.name }}</td>
value="">All
email"
html> id="participant-status-filter"
Management</h1> or
<th>Name</th> {% for participant in participants %} </table> <h1>Participants onclick="location.href='{{ url_for('participants_page') }}#add'">Add charset="UTF-8"> <thead> <option </head> name="search"
</tr> {% endfor %} id="participants-page">
<div id="add-participant-button" </thead>
<body>
<th>Email</th> </div>
</select>
<option
<meta border="1"> <th>Event</th> <head>

<tr> <title>Participants <html
Management</title>
<td>{{ participant.event_id }}</td>
</body>
by
Statuses</option>
<td>{{ participant.status }}</td>
name="status">
<tbody>
value="{{ status_option }}">{{ status_option }}</option>
Participant</button>
{% endfor %}
<input
id="search-participant-input"
<th>Status</th>
lang="en">
<select
<td>{{ participant.email }}</td>
<button
<table
{% for status_option in status_options %}
<!DOCTYPE
type="text"
