<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}"><button id="dashboard-button">Dashboard</button></a>
        <a href="{{ url_for('application_tracking') }}"><button id="applications-button">Applications</button></a>
        <a href="{{ url_for('profile') }}"><button id="profile-button">Profile</button></a>
    </nav>
    <h1 id="applications-title">Applications</h1>
    <div id="application-list">
        {% for application in applications %}
        <div id="application-{{ application.application_id }}" class="application-item">
            <h2 id="application-job-id-{{ application.application_id }}">Application ID: {{ application.application_id }}</h2>
            <p id="application-company-name-{{ application.application_id }}">Company Name: {{ application.company_name }}</p>
            <p id="application-applied-date-{{ application.application_id }}">Applied Date: {{ application.applied_date }}</p>
            <p id="application-applicant-name-{{ application.application_id }}">Applicant: {{ application.applicant_name }}</p>
            <p id="application-status-{{ application.application_id }}">Status: {{ application.status }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>