{% extends 'layout.html' %}

{% block title %}Auction Listings - OnlineAuction{% endblock %}

{% block content %}
<h2 id="page-title">Auction Listings</h2>
<ul id="auction-list">
    {% for auction in auctions %}
    <li class="auction-item" id="auction-{{ auction.id }}">
        <a href="{{ url_for('auction_detail', auction_id=auction.id) }}" class="auction-link">{{ auction.title }}</a>
        <span class="auction-status" id="auction-status-{{ auction.id }}">{{ auction.status }}</span>
        <span class="auction-current-bid" id="auction-current-bid-{{ auction.id }}">Current Bid: {{ auction.current_bid }}</span>
    </li>
    {% else %}
    <li>No auctions available.</li>
    {% endfor %}
</ul>
{% endblock %}
