id="view-property-button-{{ property.property_id }}">View</button> </div>
href="{{ url_for('property_search') }}"> charset="UTF-8">
Bathrooms:
<!DOCTYPE id="featured-properties">
</a> {{ property.property_type }}</p> <p>Type:
<a
{% for property in featured_properties %}
<title>Real <p>Price:
<div Properties</button> ${{ property.price }}</p>
<h1>Real <a
id="dashboard-page">
<button
id="browse-properties-button">Browse
<head> <a
<a </a>
Dashboard</title> <meta <div> Dashboard</h1>
<body> <button
href="{{ url_for('my_inquiries') }}"> </a>
{{ property.bathrooms }}</p>
lang="en">
href="{{ url_for('property_details', property_id=property.property_id) }}">
id="my-favorites-button">My
Favorites</button> href="{{ url_for('my_favorites') }}">
</div> <div id="my-inquiries-button">My
</div>
</html> <button
<p>Bedrooms: Estate Estate
{% endfor %}
Inquiries</button> </head>
</a> <button </body>
{{ property.bedrooms }},
html>
<html
<h2>{{ property.address }}</h2>