href="{{ url_for('property_search') }}?location_input={{ location.location_name }}"> <div>
<option <p>Region:
{% endfor %}
<select html>
</form> <p>Average
<body>
<option
Price: <head>
to Name</option>
value="By </select> <button
</div> <!DOCTYPE </a>
Name" <h2>{{ location.location_name }}</h2> <div Count"
<a Count</option> name="location_sort" charset="UTF-8"> <title>Featured
<form <meta <a <button value="By Locations</title> Price</option>
<label href="{{ url_for('dashboard') }}"> {{ location.property_count }}</p> Average Average </a> Dashboard</button>
</div>
action="/locations">
</html> Locations:</label>
<option
onchange="this.form.submit()">
<p>Property
<div id="location-sort"
for="location-sort">Sort id="locations-page"> {% if sort_option == 'By Name' %}selected{% endif %}>By
{% if sort_option == 'By Average Price' %}selected{% endif %}>By {{ location.region }}</p> {% for location in locations %}
Count: value="By
Properties <html
id="locations-list">
</head>
${{ location.average_price }}</p>
<h1>Featured
</body> Properties
method="POST" id="view-location-button-{{ location.location_id }}">View</button> Locations</h1> id="back-to-dashboard">Back
Price"
lang="en">
{% if sort_option == 'By Properties Count' %}selected{% endif %}>By
</div>