</form> id="inquiries-page">
name="filter_status" </div>
<option
</tr> value="Contacted"
<input </form>
lang="en">
<!DOCTYPE
{{ inquiry.customer_phone }} {{ inquiry.customer_email }}<br
{% if status_filter == 'All' %}selected{% endif %}>All</option> Inquiries</title>
<form </a> <html
value="{{ inquiry.inquiry_id }}" {% for inquiry in inquiries %} value="Pending" <th>Date</th>
</td> id="inquiries-table"> <meta </tr>
{% if status_filter == 'Pending' %}selected{% endif %}>Pending</option> <body> {% endfor %}
<head> <tr> type="submit"
value="All" <thead> type="hidden"
<tr> /> <td>{{ inquiry.property_address }}</td>
id="back-to-dashboard">Back
<td>
action="/inquiries"> </body>
<label
</table>
Info</th>
Dashboard</button>
<th>Status</th>
</td> <th>Property</th>
<button
/>
<td>{{ inquiry.status }}</td>
</tbody>
id="inquiry-status-filter"
value="Resolved"
<option
<option
/>
<h1>My
<a <button
</head> name="delete_inquiry_id"
</html>
{{ inquiry.customer_name }}<br
<div
<option method="POST" <th>Contact
</thead> <form by html> Inquiries</h1>
href="{{ url_for('dashboard') }}"> <tbody> <title>My
charset="UTF-8">
method="POST"
to
{% if status_filter == 'Contacted' %}selected{% endif %}>Contacted</option>
<table
Status:</label>
</select> <select
{% if status_filter == 'Resolved' %}selected{% endif %}>Resolved</option> id="delete-inquiry-button-{{ inquiry.inquiry_id }}">Delete</button> onchange="this.form.submit()"> <th>Action</th>
<td>
action="/inquiries">
for="inquiry-status-filter">Filter
<td>{{ inquiry.inquiry_date }}</td>