Favorites</button> id="submit-inquiry-button">Submit
type="submit" </body>
<div
id="property-price">Price: Details</title>
<p>Type: html>
<meta
</html>
lang="en"> id="property-details-page">
<div </a>
<div action="{{ url_for('my_favorites') }}"> {{ property.square_feet }}</p>
id="add-to-favorites-button">Add ${{ property.price }}</div>
id="property-features"> Feet:
<p>Bathrooms: type="hidden"
<h1 <body>
/> <html
value="{{ property.property_id }}" method="POST" </div>
<head>
<button href="{{ url_for('submit_inquiry') }}?selected_property_id={{ property.property_id }}"> id="property-address">{{ property.address }}</h1>
<div </head> </div> name="add_property_id" charset="UTF-8">
to <p>Square {{ property.bedrooms }}</p> Inquiry</button> <form
<button
id="property-description">{{ property.description }}</div> <!DOCTYPE
{{ property.property_type }}</p> <input </form>
<p>Bedrooms:
<a
{{ property.bathrooms }}</p>
<title>Property