<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Details</title>
</head>
<body>
    <div id="property-details-page">
        <h1 id="property-address">{{ property.address }}</h1>
        <div id="property-price">Price: ${{ property.price }}</div>
        <div id="property-description">{{ property.description }}</div>
        <div id="property-features">
            Beds: {{ property.bedrooms }}<br>
            Baths: {{ property.bathrooms }}<br>
            Square Feet: {{ property.square_feet }}
        </div>

        <form method="POST" action="#">
            <input type="hidden" name="property_id" value="{{ property.property_id }}">
            <button type="submit" id="add-to-favorites-button">Add to Favorites</button>
        </form>

        <a href="{{ url_for('property_inquiry_form') }}">
            <button id="submit-inquiry-button">Submit Inquiry</button>
        </a>
    </div>
</body>
</html>
