name="device_type" for="device-type">Device
<h1>Add name="device_room"
</select><br><br>
Dashboard</button> required>
id="device-name" <body> <label
<select
<div
<input <label
<button Device</h1> </head>

value="{{ dtype }}">{{ dtype }}</option> {% endfor %} New
id="device-room" type="submit" id="add-device-page">
charset="UTF-8"> {% for room in rooms %} required> action="{{ url_for('submit_new_device') }}"> lang="en">

<select <!DOCTYPE <option
</div> New id="device-type" to
{% for dtype in device_types %}
for="device-name">Device type="text"
for="device-room">Room:</label><br>
</select><br><br>

{% endfor %} <html
id="back-to-dashboard" value="{{ room }}">{{ room }}</option> </html> onclick="window.location.href='{{ url_for('dashboard_page') }}'">Back
html>
Device</title> name="device_name"
<button
Name:</label><br>

<meta </form> </body> Device</button>
Type:</label><br>

<head> <title>Add method="POST" <form <option
id="submit-device-button">Add
<label
required><br><br>
