</div> id="add-rule-button">Add
Device</th> <label
{% endfor %}
{% endfor %} charset="UTF-8">
value="Set </select><br><br>
required><br><br>
value="Set
<input <option
<td>{{ 'Yes' if rule.enabled == 'true' else 'No' }}</td> Name</th>

<option Type:</label><br> <th>Rule <button id="rule-name"
Rules</h1>
html>
value="Turn for="action-device">Action
</td> value="Turn
<option cellpadding="5">
required> Value:</label><br>
<!DOCTYPE <label
</head> Off">Turn
required>
value="Motion">Motion</option>
Device:</label><br>
for="trigger-type">Trigger
<td>
name="action_device_id"
Value</th>
name="trigger_value"
<option
cellspacing="0"
<th>Trigger
Rules</title>
<tbody>
value="{{ device.device_id }}">{{ device.device_name }}</option>
<input
Rule</button>
<label
Type:</label><br>
<select
border="1"
<div
</thead>
required><br><br>

</tr> <td>{{ rule.action_type }}</td> <thead>
Brightness">Set for="rule-name">Rule <select
<head> <table name="trigger_type" <label <form

Type</th> <td>{{ rule.trigger_value }}</td> <body>
<tr> </table> for="trigger-value">Trigger Temperature">Set
<select Off</option>
id="automation-page"> </tbody>
{% for device in devices %} <td>{{ rule.rule_name }}</td>
<th>Action

type="submit" <th>Trigger type="text"
<tr> id="rules-table" id="trigger-value" id="trigger-type" lang="en">

<h1>Automation {% endif %} for="action-type">Action
Type</th> </select><br><br> name="action_type" {% endfor %}
ID</th>
{% if device.device_id == rule.action_device_id %} <th>Rule
<td>{{ rule.rule_id }}</td>
value="Time">Time</option>

</body> {% for rule in automation_rules %} method="POST"
Temperature</option> <th>Action {{ device.device_name }} On</option>
Brightness</option> <button <option id="back-to-dashboard"
Name:</label><br> id="action-device" </tr> <label
to <option <option Dashboard</button>
{% for device in devices %} action="{{ url_for('add_automation_rule') }}"> <td>{{ rule.trigger_type }}</td> </form>
</select><br><br>

<title>Automation <th>Enabled</th> required> <meta
value="Temperature">Temperature</option>

id="action-type" <html type="text" </html> onclick="window.location.href='{{ url_for('dashboard_page') }}'">Back
name="rule_name"
On">Turn
<option
