<table <th>Type</th>
<h1>My </tbody>
<td>{{ device.device_type }}</td>
<button </div>
<th>Room</th> </table>
<th>Device
<tbody>
to <div
{% for device in devices %} id="control-device-button-{{ device.device_id }}"

</body> cellpadding="5"> </td> <body> <td>
<meta
<th>Control</th>
<tr> lang="en">
cellspacing="0"
<html
Control
{% endfor %}
id="device-list-page">
<td>{{ device.status }}</td>
<button
</head>
</thead>
<!DOCTYPE
Dashboard</button>
</html>
</tr>
charset="UTF-8">
<th>Name</th>
<tr>
onclick="window.location.href='{{ url_for('device_control_page', device_id=device.device_id) }}'"> </tr>
<title>My
id="device-table"
<td>{{ device.device_name }}</td>
ID</th>
<thead>
html>
Devices</title>
onclick="window.location.href='{{ url_for('dashboard_page') }}'">Back

Devices</h1> <th>Status</th> id="back-to-dashboard" <head> <td>{{ device.room }}</td>
</button>
border="1"
<td>{{ device.device_id }}</td>
