{% if artifacts|length == 0 %} artifacts
action=""> </thead>
Catalog</title>
html> <td></td>
{% endif %} <tbody>
</html>
to
lang="en"> <td>{{ artifact.period }}</td>
<form <html
<th>Origin</th> <td>{{ artifact.artifact_id }}</td> name="search_query"
<td>{{ artifact.origin }}</td> id="search-artifact" <th>Period</th> method="get" <title>Artifact border="1"> <th>Name</th>
<button <th>Exhibition</th> <div Dashboard</button>
<!DOCTYPE
found.</td></tr> <tr> </tr>
Catalog</h1>
<tr>
<thead>
<table
</table>
</tr>
id="apply-artifact-filter">Apply
<body>
placeholder="Search
<th>Actions</th>
</body>
colspan="6">No
{% for artifact in artifacts %}
id="artifact-table"
onclick="location.href='{{ url_for('dashboard_page') }}'">Back
<h1>Artifact
id="back-to-dashboard"
{% endfor %}
</div>
type="text"
Filter</button>
charset="UTF-8">
</head> <input <td>{% if artifact.exhibition_title %}{{ artifact.exhibition_title }}{% else %}None{% endif %}</td> </tbody>
id="artifact-catalog-page">
<td>{{ artifact.artifact_name }}</td>
</form>
value="{{ search_query|default('') }}" <head> <tr><td <button <th>ID</th>
type="submit"
artifacts...">
<meta
