</select> {% if selected_language == 'English' %}selected{% endif %}>English</option>
id="apply-language-filter">Apply <td>{{ guide.duration }}</td>
<td>
<table <th>Duration</th>
guides audio
<!DOCTYPE
name="selected_language">
to </tr>
id="filter-language" <td>{{ guide.exhibit_number }}</td>
<title>Audio <form <h1>Audio
</tbody> Languages</option> <th>Actions</th>
</div> <tr> type="submit" method="get"
</head> {% if selected_language == 'Spanish' %}selected{% endif %}>Spanish</option> <th>Title</th>
<option <td>{{ guide.language }}</td> Guides</h1>
<option value="" <th>Exhibit
</body>
onclick="location.href='{{ url_for('dashboard_page') }}'">Back {% if audioguides|length == 0 %} <div <select
<tr><td
Number</th> {% if not selected_language or selected_language == '' %}selected{% endif %}>All value="English"
id="play-guide-button-{{ guide.guide_id }}"
Filter</button>
border="1"> found.</td></tr>
<button
value="Spanish"
Dashboard</button>
id="audio-guide-list"
</tr>
<tr>
<html
<body>
html>
</td>
Guides</title>
<button
{% endfor %}
{% endif %}
<th>Language</th> value="French" </thead>
action="">
</table>
<option
<head>
{% for guide in audioguides %} lang="en"> <meta </html> <button
<tbody>
type="button">Play</button>
<option
{% if selected_language == 'French' %}selected{% endif %}>French</option> </form> <td>{{ guide.title }}</td> id="audio-guides-page"> colspan="5">No
id="back-to-dashboard"
charset="UTF-8">
<thead>
