<th>Status</th> colspan="6">No
<tr> value="Temporary"
html>
method="get" </body>
charset="UTF-8">
<head>
<button
value="Virtual" id="view-exhibition-button-{{ exhibition.exhibition_id }}"
action="">
<thead> <th>Gallery</th> <td>{{ exhibition.exhibition_type }}</td>
border="1"> <tr><td </div>
onclick="location.href='{{ url_for('dashboard_page') }}'">Back <td>{{ exhibition.title }}</td> value="Permanent" exhibitions
</td> <th>Dates</th> {% if selected_filter == 'Virtual' %}selected{% endif %}>Virtual</option>
<th>Actions</th> </select> id="back-to-dashboard"
name="selected_filter"> <select </html>
id="apply-exhibition-filter">Apply
<form <body> <button {% if selected_filter == 'Temporary' %}selected{% endif %}>Temporary</option>
</tr>
type="submit" <option <meta
<td>
<button
<option
<th>Title</th>
</thead>
Dashboard</button>
<tbody>
<div
<!DOCTYPE
Filter</button>
<title>Exhibitions</title>
id="exhibitions-page">
{% endif %}
<option
to
onclick="location.href='{{ url_for('exhibition_details_page', exhibition_id=exhibition.exhibition_id) }}'">View</button> lang="en"> </head>
<h1>Exhibitions</h1>
<tr>
id="filter-exhibition-type"
value="" {% if not selected_filter or selected_filter == '' %}selected{% endif %}>All <table
Types</option>
</form>
{% if selected_filter == 'Permanent' %}selected{% endif %}>Permanent</option>
</tr>
{{ exhibition.end_date }}</td> </tbody> <option to
id="exhibition-list"
</table>
{% if exhibitions|length == 0 %}
<td>{{ exhibition.gallery_name }}</td> {% for exhibition in exhibitions %} available.</td></tr> <td>{{ exhibition.start_date }} {% endfor %}
<th>Type</th>
<html
<td>{{ exhibition.status }}</td>
