</body> charset="UTF-8">
border="1"> <button
{{ exhibition.end_date }}</p>
</tbody> id="exhibition-description">
<title>Exhibition <html
artifacts
colspan="4">No
id="exhibition-dates"> html>
</div> id="exhibition-title">{{ exhibition.title }}</h1>
<tr> id="exhibition-artifacts"
{% for artifact in artifacts %}
<th>Period</th>
<p>{{ exhibition.start_date }} to
<head> <thead> to
<tr><td
<meta <th>ID</th> </table>
<th>Origin</th>
</div>
<tbody>
<h1
Exhibitions</button>
<td>{{ artifact.artifact_name }}</td>
<td>{{ artifact.origin }}</td>
Details</title>
id="exhibition-details-page">
<div
<td>{{ artifact.artifact_id }}</td>
in
onclick="location.href='{{ url_for('exhibitions_page') }}'">Back
this
exhibition.</td></tr>
<!DOCTYPE
<td>{{ artifact.period }}</td>
<table
</tr> </html> {% endfor %} id="back-to-exhibitions" {% if artifacts|length == 0 %} {% endif %}
</head>
<body>
<th>Name</th>
<div <div lang="en"> </thead> </tr>
</div>
<p>{{ exhibition.description }}</p>
<tr>
