<head> value="VIP">VIP</option>
<br> </div>
<html
</table> colspan="6">No
tickets border="1">
name="number_of_tickets"
purchased
Tickets</th> <title>Visitor
{% endfor %} value="Student">Student</option>
<br>
Date</th> type="submit"
type="number"
</head> <h1>Visitor <td>{{ ticket.visit_time }}</td>
<label charset="UTF-8"> <p>Purchase
<tr><td id="my-tickets-table" <th>Number
id="back-to-dashboard" name="ticket_type">
Type:</label> method="post"
Tickets:</label> {% endif %}
id="number-of-tickets" </tr>
action=""> <form
<button
</tbody>
<button {% if tickets|length == 0 %} value="Standard">Standard</option> </body>
{% endif %} yet.</td></tr> <option <option Tickets</h1> <div
<thead>
<td>{{ ticket.visit_date }}</td> </html> <tbody> <option
Name</th>
value="Senior">Senior</option> <th>Price</th> onclick="location.href='{{ url_for('dashboard_page') }}'">Back
<meta
<select
<th>Visit of
<th>Visitor <option
id="purchase-ticket-button">Purchase
of <td>{{ ticket.ticket_type }}</td> Ticket</button>
<th>Ticket
</thead> html>
<td>{{ ticket.visitor_name }}</td>
for="number-of-tickets">Number
<table
Tickets</title>
Dashboard</button>
id="visitor-tickets-page">
<option
</tr>
</select>
<td>{{ ticket.number_of_tickets }}</td>
{% for ticket in tickets %}
to
<td>{{ '%.2f'|format(ticket.price) }}</td>
<th>Time</th>
id="ticket-type" required> successful!</p> value="Family">Family</option> <tr>
for="ticket-type">Ticket
Type</th>
<!DOCTYPE
min="1" <input lang="en"> </form> <body>
<tr>
<label
{% if purchase_success is defined and purchase_success %}
