lang="en"> Placeholder
placeholder="Search ID"
<th>ID</th>
id="artifact-table" <th>Actions</th>
</thead> <meta
<table
Catalog</h1>
{% endfor %} <td>{{ artifact.period }}</td>
id="back-to-dashboard" <form
<td>{{ artifact.artifact_name }}</td> <title>Artifact <th>Period</th>
</tbody> </tr> <div <input id="artifact-catalog-page"> method="post" <th>Exhibition</th> </tr> id="search-artifact" <td>{{ artifact.exhibition_name }}</td> Filter</button>
name="search_artifact" future <h1>Artifact id="apply-artifact-filter">Apply
<td>{{ artifact.origin }}</td>
<button charset="UTF-8"> by
Catalog</title>
/>
border="1">
or
value="{{ search_query if search_query else '' }}"
for
<tr>
type="submit"
action="{{ url_for('artifact_catalog') }}">
html>
</table>
<html
<thead>
{% for artifact in artifacts %}
<body>
<head>
<tr>
<th>Origin</th>
<!DOCTYPE <tbody> to </body> actions <td><!--
</head>
<th>Name</th>
Dashboard</button>
type="text"

<td>{{ artifact.artifact_id }}</td> onclick="window.location.href='{{ url_for('dashboard') }}'">Back </html> name <button
</div>
</form>
--></td>