method="post" Dashboard</button>
<form id="apply-exhibition-filter">Apply
value="Permanent"
<th>Actions</th> </body>
<option
value=""
</tr>
id="exhibitions-page"> <th>Gallery</th>
<body>
</form> {% if filter_type == 'Permanent' %}selected{% endif %}>Permanent</option> id="view-exhibition-button-{{ exhibition.exhibition_id }}"
{% endfor %} <td>{{ exhibition.start_date }} name="filter_exhibition_type">
<th>Dates</th> {% for exhibition in exhibitions %} id="back-to-dashboard" <td>{{ exhibition.title }}</td>
to <meta onclick="window.location.href='{{ url_for('dashboard') }}'">Back
border="1"> id="filter-exhibition-type" </thead>
charset="UTF-8"> <table Types</option>
id="exhibition-list"
<td>{{ exhibition.gallery_name }}</td> <thead> <select </table>
{% if not filter_type %}selected{% endif %}>All
</tr> <tr> <option
type="submit"
<button
html>
<tr>
onclick="window.location.href='{{ url_for('exhibition_details', exhibition_id=exhibition.exhibition_id) }}'">View
<option
<td>{{ exhibition.status }}</td>
<div
<title>Exhibitions</title>
<th>Status</th>
value="Virtual"
</html>
lang="en">
</div>
value="Temporary"
<h1>Exhibitions</h1> </select> <th>Type</th>
<tbody>
to
<button
<html {% if filter_type == 'Virtual' %}selected{% endif %}>Virtual</option> action="{{ url_for('exhibitions') }}"> </tbody>
</head>
<option
<th>Title</th>
Filter</button>
</td>
{{ exhibition.end_date }}</td> <head> {% if filter_type == 'Temporary' %}selected{% endif %}>Temporary</option> <button <td>{{ exhibition.exhibition_type }}</td>
Details</button>
<td>
<!DOCTYPE