html> to
<th>Name</th> id="exhibition-artifacts"
<!DOCTYPE
lang="en"> {% for artifact in artifacts %}
<div </tr>
<th>Origin</th>
<thead>
<tbody> <tr>
id="exhibition-details-page"> border="1">
</head> <td>{{ artifact.period }}</td>
<head> <div to </thead>
onclick="window.location.href='{{ url_for('exhibitions') }}'">Back <td>{{ artifact.artifact_id }}</td> Details</title>
</tr>
id="exhibition-dates">{{ exhibition.start_date }}
<th>ID</th>
<tr>
{% endfor %}
Exhibitions</button>
id="exhibition-description">{{ exhibition.description }}</div>
<html
<title>Exhibition
</table>
<div
</html>
<td>{{ artifact.artifact_name }}</td>
<h1
</body>
<meta
<body>
<th>Period</th>
id="exhibition-title">{{ exhibition.title }}</h1>
<button <table {{ exhibition.end_date }}</div> <td>{{ artifact.origin }}</td> </div>
charset="UTF-8">
id="back-to-exhibitions"
</tbody>