<td>{{ ticket.ticket_type }}</td> html>
<!DOCTYPE action="{{ url_for('visitor_tickets') }}">
border="1">
Time</th> of
of {% endif %}
</tr>
<td>{{ ticket.price }}</td>
method="post" <label
<th>Ticket <html
charset="UTF-8">
Tickets</title>
</form>
<option </body> <td>{{ ticket.visit_date }}</td>
type="submit" id="purchase-ticket-button">Purchase <option
value="1" min="1" <td>{{ ticket.visit_time }}</td>
Date</th> <tr>
value="Family">Family</option> value="Standard">Standard</option>
name="number_of_tickets" </head>
<th>Price</th> <option
</select> <body>
<input
<table value="Senior">Senior</option> <select to
name="ticket_type"> <option {% endfor %} Dashboard</button> <button Type:</label> <p>{{ purchase_status }}</p>
id="ticket-type" </tbody> id="number-of-tickets" for="number-of-tickets">Number
<option
<thead> <th>Visit </html>
<td>{{ ticket.number_of_tickets }}</td>
</thead>
Ticket</button> <tbody>
<tr> id="my-tickets-table"
Tickets:</label> <title>Visitor
</table> <h1>Visitor </div>
onclick="window.location.href='{{ url_for('dashboard') }}'">Back
<th>Number
<head>
id="back-to-dashboard"
<label
value="VIP">VIP</option>
<th>Visit
Tickets</h1>
</tr>
{% if purchase_status %}
type="number"
lang="en">
for="ticket-type">Ticket
/>
id="visitor-tickets-page">
{% for ticket in tickets %} <div Tickets</th> <meta <button
value="Student">Student</option>
<form
Type</th>