<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
    <div id="albums-page">
        <h1 id="90x9ro3h">Albums</h1>
        <input id="dba563e2hjz0l" type="text" placeholder="Search Albums">
        <select id="ah2p04b02z7">
            <option value="">All Genres</option>
            {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <div id="osedwc1i4bh">
            {% for album in albums %}
                <div id="album-{{ album.album_id }}">
                    <h2>{{ album.title }}</h2>
                    <p>Artist: {{ album.artist_name }}</p>
                    <p>Year: {{ album.release_year }}</p>
                    <button id="view-album-button-{{ album.album_id }}" onclick="location.href='{{ url_for('album_details', album_id=album.album_id) }}'">View Album</button>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
