<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album Details</title>
</head>
<body>
    <div id="lat1xdzw">
        <h1 id="7q9oxhd9">{{ album.title }}</h1>
        <div id="or823pun">
            <p id="album-year">Year: {{ album.release_year }}</p>
            <ul id="album-songs-list">
                {% for song in songs %}
                    <li id="song-{{ song.song_id }}">{{ song.title }} ({{ song.duration }}s)</li>
                {% endfor %}
            </ul>
            <button id="7cutkidy52s86hp0wl8akvyfofj4" onclick="location.href='{{ url_for('add_song_to_playlist', album_id=album.album_id) }}'">Add All to Playlist</button>
        </div>
    </div>
</body>
</html>
