<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ms2r74 grsg6uqw</title>
</head>
<body>
    <div id="nopxsbw5bhpw">
        <h1 id="n3eypucq">Artist h5c7wler</h1>
        <input id="search-artists" type="text" placeholder="Search Artists">
        <select id="artists-sort">
            <option value="name">Name</option>
            <option value="genre">Genre</option>
        </select>
        <div>
            {% for artist in artists %}
                <div id="artist-{{ artist.artist_id }}">
                    <h2>{{ artist.name }}</h2>
                    <p>Genre: {{ artist.genre }}</p>
                    <button id="view-artist-button-{{ artist.artist_id }}" onclick="location.href='{{ url_for('artist_profile', artist_id=artist.artist_id) }}'">View Profile</button>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
