<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create 9gq 3ys2oa9v</title>
</head>
<body>
    <div id="create-playlist-page">
        <h1>Create 4ee y9ecyd94</h1>
        <form method="POST" action="{{ url_for('create_playlist') }}">
            <label for="roa1ys7hgpsmv5s7x6w">Playlist Title:</label><br>
            <input id="roa1ys7hgpsmv5s7x6w" name="title" type="text" required><br><br>
            <label for="tcpo3ipnn9hppdxcb7tuitphw7">Description:</label><br>
            <textarea id="tcpo3ipnn9hppdxcb7tuitphw7" name="description" required></textarea><br><br>
            <button id="save-playlist-button" type="submit">Save Playlist</button>
            <button id="cancel-create-button" type="button" onclick="location.href='{{ url_for('playlists') }}'">Cancel</button>
        </form>
    </div>
</body>
</html>
