<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ui iddr55fad</title>
</head>
<body>
    <div id="playlists-page">
        <h1>o1jfa78 oqqetaxq k7 Playlists</h1>
        <button id="create-playlist-button" onclick="location.href='{{ url_for('create_playlist') }}'">Create Playlist</button>
        <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
        <div id="playlists-grid">
            {% for playlist in playlists %}
                <div id="playlist-{{ playlist.playlist_id }}">
                    <h2>{{ playlist.title }}</h2>
                    <p>Songs: {{ playlist.song_count }}</p>
                    <button id="view-playlist-button-{{ playlist.playlist_id }}" onclick="location.href='{{ url_for('playlist_details', playlist_id=playlist.playlist_id) }}'">View Playlist</button>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
