<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song 3yszdtq</title>
</head>
<body>
    <div id="q8ul0zngorb0">
        <h1 id="ewz9ujcp">Song z6tkxag</h1>
        <div id="s71g3g523v5m">
            <div id="songs-grid">
                <ul>
                    {% for song in songs %}
                        <li id="song-{{ song.song_id }}">{{ song.title }} by {{ song.artist_name }} from {{ song.album_name }} ({{ song.genre }}, {{ song.duration }}s)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
