<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write a Review</title>
</head>
<body>
    <div id="write-review-page">
        <h1>Write a Review</h1>

        <form method="post" action="{{ url_for('submit_review') }}">
            <label for="select-book">Select Book:</label><br />
            <select id="select-book" name="select-book" required>
                {% for book in books %}
                    <option value="{{ book.book_id }}">{{ book.title }}</option>
                {% endfor %}
            </select><br /><br />

            <label for="rating-select">Rating:</label><br />
            <select id="rating-select" name="rating-select" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br /><br />

            <label for="review-text">Review:</label><br />
            <textarea id="review-text" name="review_text" required></textarea><br /><br />

            <button id="submit-review-button" type="submit">Submit Review</button>
        </form>
    </div>
</body>
</html>
