<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1 id="dashboard-title">Dashboard</h1>
    <input type="text" id="search-input" name="search-input" placeholder="Search movies...">
    <select id="genre-filter" name="genre-filter">
        {% for genre in genres %}
        <option value="{{ genre }}">{{ genre }}</option>
        {% endfor %}
    </select>
    <button id="browse-movies-button" onclick="location.href='{{ url_for('catalog') }}'">Browse Movies</button>
    <div id="featured-movies">
        {% for movie in featured_movies %}
        <div id="movie-{{ movie.movie_id }}">
            <h2 id="view-movie-title-{{ movie.movie_id }}">{{ movie.title }}</h2>
            <button id="view-movie-button-{{ movie.movie_id }}" onclick="location.href='{{ url_for('movie_details', movie_id=movie.movie_id) }}'">View Details</button>
        </div>
        {% endfor %}
    </div>
    <button id="to-booking-info" onclick="location.href='{{ url_for('booking_history') }}'">Booking Info</button>
</body>
</html>