<!DOCTYPE html>
<html>
<head>
    <title>Movie Details</title>
</head>
<body>
    <h1 id="movie-title">{{ movie.title }}</h1>
    <div id="movie-description">{{ movie.description }}</div>
    <div id="movie-director">Director: {{ movie.director }}</div>
    <div id="movie-genre">Genre: {{ movie.genre }}</div>
    <div id="movie-rating">Rating: {{ movie.rating }}</div>
    <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
    <div id="showtimes-list">
        {% for showtime in showtimes %}
        <div id="showtime-{{ showtime.showtime_id }}">
            <span>{{ showtime.date }} {{ showtime.time }}</span>
            <button id="showtimes-button-{{ showtime.showtime_id }}" onclick="location.href='{{ url_for('showtime_selection', release_date=showtime.date) }}'">Select</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>