{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
  <h1>Categories</h1>
  <div id="categories_container">
    {% for category in categories %}
      <div id="category-{{ category.category_id }}" class="category-card">
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <button id="view-auction-button-{{ category.category_id }}" onclick="location.href='{{ url_for('auction_catalog', category_id=category.category_id) }}'">View Auctions</button>
      </div>
    {% endfor %}
  </div>
  <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
{% endblock %}
