{% extends 'base.html' %}

{% block title %}Winners{% endblock %}

{% block content %}
  <h1>Winning Bids</h1>
  <table id="winners_table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Winner</th>
        <th>Bid Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for winner in winners %}
      <tr>
        <td>{{ winner.item_name }}</td>
        <td>{{ winner.winner_name }}</td>
        <td>{{ winner.bid_amount }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
