<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
    <div id="main-container">
        <nav id="nav-bar">
            <a href="{{ url_for('home') }}"><button id="nav-home-button">Home</button></a>
            <a href="{{ url_for('playlists') }}"><button id="nav-playlists-button">Playlists</button></a>
            <a href="{{ url_for('songs') }}"><button id="nav-songs-button">Songs</button></a>
            <a href="{{ url_for('artists') }}"><button id="nav-artists-button">Artists</button></a>
            <a href="{{ url_for('albums') }}"><button id="nav-albums-button">Albums</button></a>
        </nav>
    </div>
</body>
</html>
