<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrow Confirmation</title>
</head>
<body>
    <div id="borrow-page">
        <div id="borrow-book-info">
            <h2>Confirm borrowing:</h2>
            <p>Book: {{ book.title }}</p>
        </div>
        <div id="due-date-display">
            <p>Due Date: {{ due_date }}</p>
        </div>
        <form method="POST" action="{{ url_for('borrow_confirmation_post', book_id=book.book_id) }}">
            <button id="confirm-borrow-button" type="submit">Confirm Borrow</button>
        </form>
        <button id="cancel-borrow-button" onclick="window.location.href='{{ url_for('book_details', book_id=book.book_id) }}'">Cancel</button>
    </div>
</body>
</html>
