<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Assignment Details</title>
</head>
<body>
<div id="assignment-info">
    <h1>{{ assignment.title }}</h1>
    <div>{{ assignment.description }}</div>
    <div>Due Date: {{ assignment.due_date }}</div>
    <div>Max Points: {{ assignment.max_points }}</div>
    <div>Status: {{ assignment.status }}</div>
    <button id="submit-assignment-button-{{ assignment.assignment_id }}" {% if assignment.status == 'Completed' %}disabled{% endif %} onclick="location.href='{{ url_for('submit_assignment', assignment_id=assignment.assignment_id) }}'">Submit Assignment</button>
    <button id="back-to-assignments" onclick="location.href='{{ url_for('assignments') }}'">Back to Assignments</button>
</div>
</body>
</html>