<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <section id="dashboard-container">
        <h1>Dashboard</h1>
        <div id="dashboard-controls">
            <button id="browse-movies-button" onclick="window.location.href='{{ url_for('movie_catalog') }}'">Browse Movies</button>
            <button id="booking-history-button" onclick="window.location.href='{{ url_for('booking_history') }}'">Booking History</button>
        </div>
    </section>
</body>
</html>