<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Catalog</title>
</head>
<body>
    <section id="movie-catalog-container">
        <h1>Movies Catalog</h1>
        <div id="movies-grid">
            {% for movie in movies %}
            <div class="movie-card" id="movie-{{ movie.movie_id }}">
                <h2>{{ movie.title }}</h2>
                <p>Director: {{ movie.director }}</p>
                <p>Genre: {{ movie.genre }}</p>
                <p>Rating: {{ movie.rating }}</p>
                <p>Release Date: {{ movie.release_date }}</p>
                <p>Description: {{ movie.description }}</p>
                <button id="view-movie-button-{{ movie.movie_id }}" onclick="window.location.href='{{ url_for('movie_details', movie_id=movie.movie_id) }}'">View Details</button>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>