<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div id="container-dashboard">
        <button id="exhibitions-button" onclick="location.href='{{ url_for('exhibitions') }}'">Exhibitions</button>
        <button id="virtual-events-button" onclick="location.href='{{ url_for('virtual_events') }}'">Virtual Events</button>
        <button id="visitor-tickets-button" onclick="location.href='{{ url_for('visitor_tickets') }}'">My Tickets</button>
    </div>
</body>
</html>