<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibitions</title>
</head>
<body>
    <h1>Exhibitions</h1>
    <div id="container-exhibitions">
        <ul>
        {% for exhibition in exhibitions %}
            <li>
                <strong>{{ exhibition.title }}</strong> ({{ exhibition.period }}) - Curator: {{ exhibition.curator_name }}<br>
                <button id="view-exhibition-button-{{ exhibition.exhibition_id }}" onclick="location.href='{{ url_for('exhibition_details', exhibition_id=exhibition.exhibition_id) }}'">View Details</button>
            </li>
        {% endfor %}
        </ul>
        <button onclick="location.href='{{ url_for('dashboard') }}'" id="back-to-dashboard">Back to Dashboard</button>
    </div>
</body>
</html>