<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tickets</title>
</head>
<body>
    <h1>My Tickets</h1>
    <div id="container-visitor-tickets">
        <table id="visitor-tickets-table">
            <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th>Visit Date</th>
                    <th>Visit Time</th>
                    <th>Number of Tickets</th>
                    <th>Price</th>
                    <th>Visitor Name</th>
                    <th>Visitor Email</th>
                    <th>Purchase Date</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in visitor_tickets %}
                <tr>
                    <td>{{ ticket.ticket_type }}</td>
                    <td>{{ ticket.visit_date }}</td>
                    <td>{{ ticket.visit_time }}</td>
                    <td>{{ ticket.number_of_tickets }}</td>
                    <td>{{ ticket.price }}</td>
                    <td>{{ ticket.visitor_name }}</td>
                    <td>{{ ticket.visitor_email }}</td>
                    <td>{{ ticket.purchase_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
    </div>
</body>
</html>