<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Version History - ContentPublishingHub</title>
</head>
<body>
    <div id="version-history-page">
        <h1>Version History for Article: {{ article.title }}</h1>

        <ul id="versions-list">
        {% for version in versions %}
            <li id="version-{{ version.version_number }}">
                <strong>Version {{ version.version_number }}</strong><br>
                Author: {{ version.author }}<br>
                Created Date: {{ version.created_date }}<br>
                Change Summary: {{ version.change_summary }}<br>
            </li>
        {% else %}
            <li>No versions available.</li>
        {% endfor %}
        </ul>

        <a href="{{ url_for('edit_article', article_id=article.id) }}" id="btn-back-to-edit">Back to Edit Article</a><br>
        <a href="{{ url_for('dashboard') }}" id="btn-back-to-dashboard">Back to Dashboard</a>
    </div>
</body>
</html>