<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Dashboard</title>
</head>
<body>
    <div id="dashboard-page">
        <h1 id="welcome-message">Library Dashboard</h1>
        <p>Welcome, {{ username }}!</p>
        <button id="browse-books-button" onclick="window.location.href='{{ url_for('book_catalog_page') }}'">Browse Books</button>
        <button id="my-borrows-button" onclick="window.location.href='{{ url_for('my_borrowings_page') }}'">My Borrows</button>
    </div>
</body>
</html>
