<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Details</title>
</head>
<body>
    <div id="article-details-page">
        <h1 id="article-title">{{ article.title }}</h1>
        <div id="article-author">By {{ article.author }}</div>
        <div id="article-date">{{ article.date }}</div>
        <div id="article-content">{{ article.content }}</div>
        <button id="bookmark-button" onclick="location.href='{{ url_for('add_bookmark', article_id=article.article_id) }}'">Bookmark</button>
        <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard_page') }}'">Back to Dashboard</button>
    </div>
</body>
</html>