<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <div>
        <ul>
            {% for dish in menu %}
            <li>
                {{ dish.name }} - {{ dish.category }} - ${{ dish.price }}
                <button id="view-dish-button-{{ dish.dish_id }}" onclick="window.location.href='{{ url_for('dish_details', dish_id=dish.dish_id) }}'">View</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <button id="back-to-dashboard" onclick="window.location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
</body>
</html>