<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Job</title>
</head>
<body>
    <div id="job-detail">
        <h1>Details Job</h1>

        <h2 id="job-title">{{ job.title }}</h2>
        <div id="company-title">{{ job.company_name }}</div>
        <div id="job-desc">{{ job.description }}</div>
        <div id="salary-info">Salary: {{ job.salary_min }} - {{ job.salary_max }}</div>
        <a href="{{ url_for('application_form', job_id=job.job_id) }}">
            <button id="apply-btn">Apply</button>
        </a>
    </div>
</body>
</html>
