lang="en"> Personal
<h1>Book Trainer:</label>
for="select-trainer">Select
{% endfor %} name="session_time"
</select> <input <meta
for="session-time">Select
(minutes):</label>
<label for="session-duration">Select
<option <select <label
<title>Book {% endfor %} required>
id="session-time" id="session-duration" <body>
method="POST" <div <label type="submit"
Training</title>
Date:</label> <label
<select
Time:</label>

Training</h1> id="booking-page"> </select>
required> <button charset="UTF-8"> <select Personal

<option type="date" name="trainer_id" {% for trainer in trainers %}
{% for duration in durations %} name="session_date" {% endfor %} <form
html>
value="{{ duration }}">{{ duration }}</option> <html
id="session-date"
{% for time in available_times %}

</head> <head> <option Session
<!DOCTYPE required> Booking</button> </body>
name="session_duration"
Duration </select>
</div>
action="{{ url_for('pt_booking') }}">

value="{{ time }}">{{ time }}</option> id="confirm-booking-button">Confirm </html> id="select-trainer"
value="{{ trainer.trainer_id }}">{{ trainer.name }}</option>
</form>
for="session-date">Select
required>