<body> charset="UTF-8">
href="{{ url_for('memberships') }}"> Trainer</button>
<h1>Gym
<html </a>
<button id="view-schedule-button">View <button
href="{{ url_for('pt_booking') }}">
a
Membership <!DOCTYPE
id="book-trainer-button">Book Membership <title>Gym
Dashboard</h1> Membership
<div </head>
</a> <div <button </a>
<a
<a lang="en">
Schedule</button> id="dashboard-page"> Plans</button> href="{{ url_for('class_schedule') }}">
id="member-welcome">{{ member_status }}</div>
html> Dashboard</title>
<a </html> id="browse-membership-button">Browse <meta
</body>
</div>
Class
<head>