<html id="trainer-certifications">Certifications:
</div> {% else %}
</div>
<button {% for review in reviews %}
<head> </head>
lang="en">
{% endfor %}
</html> <h3>Client
<li>{{ review }}</li> charset="UTF-8">
<body> <div
Reviews:</h3> available.</p> <h1
reviews {% if reviews %}
<div {% endif %} <div
</a>
<a </body>
id="trainer-name">{{ trainer.name }}</h1> <ul>
html>
<div
<meta
Session</button>
<!DOCTYPE
</ul>
Profile</title>
<title>Trainer id="trainer-reviews"> href="{{ url_for('pt_booking', trainer_id=trainer.trainer_id) }}">
id="trainer-detail-page">
id="trainer-bio">{{ trainer.bio }}</div>
id="book-session-button">Book
{{ trainer.certifications }}</div>
<p>No