<h1>My Burned</th>
border="1"> <button
html>
<th>Type</th> Dashboard</button>
{% for wtype in workout_types %} Workout</button> <html
lang="en">
<thead>
</tbody> <td>{{ workout.workout_date }}</td>
<!DOCTYPE </div> <th>Duration
<td>{{ workout.duration_minutes }}</td> Workout value="{{ wtype }}">{{ wtype }}</option> by id="workouts-page">
Type:</label> <tbody> href="{{ url_for('log_workout') }}">
<select <title>My
(min)</th>
Records</h1> for="filter-by-type">Filter
<head>
<div
<label Workout <body>
<option
{% endfor %}
</thead>
</a>
charset="UTF-8"> </tr>
<td>{{ workout.calories_burned }}</td> <option
<th>Calories
</html>
</body>
href="{{ url_for('dashboard') }}">
id="workouts-table"
<th>Notes</th>
<th>Date</th>
<tr>
<tr>
<a
</table>
</head>
<button
</a>
value="">All</option>
Workout id="back-to-dashboard">Back
name="filter_by_type"> <meta id="log-workout-button">Log
<td>{{ workout.notes }}</td>
</tr> to
{% for workout in workouts %} <table <td>{{ workout.workout_type }}</td> <a
</select>
id="filter-by-type"
{% endfor %}
Records</title>