{% extends "base.html" %}

{% block title %}My Auctions{% endblock %}

{% block content %}
<h1 id="page-title">My Auctions</h1>
<ul id="my-auction-list" class="list-group">
  {% for auction in my_auctions %}
    <li class="list-group-item" id="my-auction-{{ auction.id }}">
      <a href="/auction/{{ auction.id }}">{{ auction.title }}</a> - Current Bid: ${{ auction.current_bid }}
    </li>
  {% else %}
    <li class="list-group-item">You have no auctions.</li>
  {% endfor %}
</ul>
{% endblock %}
