<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destination Details</title>
</head>
<body>
    <div id="destination-details-page">
        <h1 id="destination-name">{{ destination.name }}</h1>
        <div id="destination-country">{{ destination.country }}</div>
        <div id="destination-description">{{ destination.description }}</div>

        <form method="POST" action="">
            <button type="submit" id="add-to-trip-button">Add to Trip</button>
        </form>

        <div id="destination-attractions">{{ destination.attractions }}</div>
    </div>
</body>
</html>