<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album {{ album.title }}</title>
</head>
<body>
    <h1 id="album-title">{{ album.title }}</h1>
    <div id="album-artist">Artist: {{ album.artist_name }}</div>
    <div id="album-release-year">Released: {{ album.release_year }}</div>
    <div id="album-songs-list">
        <ul>
            {% for song in album_songs %}
            <li>{{ song.title }} - {{ song.duration }} seconds</li>
            {% endfor %}
        </ul>
    </div>
    <button id="add-album-to-playlist-button" onclick="window.location.href='{{ url_for('add_album_to_playlist', album_id=album.album_id) }}'">Add Album to Playlist</button>
</body>
</html>