<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artist.name }}</title>
</head>
<body>
    <h1>{{ artist.name }}</h1>
    <div id="artist-genre">Genre: {{ artist.genre }}</div>
    <div id="artist-country">Country: {{ artist.country }}</div>
    <div id="artist-formation-year">Formed in: {{ artist.formation_year }}</div>
    <h2>Songs by {{ artist.name }}</h2>
    <ul>
        {% for song in songs_by_artist %}
        <li>{{ song.title }} ({{ song.album_name }}) - {{ song.duration }} seconds</li>
        {% endfor %}
    </ul>
</body>
</html>