<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streaming Dashboard</title>
</head>
<body>
    <div id="dashboard-page">
        <h1>Main Dashboard</h1>
        <div id="rxd90u3nmke1ux">
            <button id="browse-songs-button" onclick="window.location.href='{{ url_for('song_catalog_page') }}'">Browse Songs</button>
            <button id="my-playlists-button" onclick="window.location.href='{{ url_for('playlists_page') }}'">My Playlists</button>
            <button id="trending-artists-button" onclick="window.location.href='{{ url_for('trending_artists_page') }}'">Trending Artists</button>
        </div>
    </div>
</body>
</html>