<meta id="article-title">{{ article.title }}</h1>
<div lang="en">
</form>
</html> <div
<button <h1
</head>
<html
html> <body>
<!DOCTYPE <div
method="post" id="article-author">By id="article-date">{{ article.date }}</div>
id="article-content">{{ article.content }}</div> <head>
<form id="article-details-page"> id="bookmark-button">{{ 'Remove Bookmark' if is_bookmarked else 'Add Bookmark' }}</button>
type="submit" </div> <div
action="{{ url_for('bookmark_article', article_id=article.article_id) }}">
charset="UTF-8"> <title>Article
{{ article.author }}</div>
Details</title>
</body>
