<h1>Article />
{% endfor %} <meta
type="submit">Search</button>
{% for category in categories %} <button
id="category-filter" {% for article in articles %}
<p>By
<option
</select> author
</body> |
</html> id="search-input" lang="en">
Article</button> <select </form> Catalog</h1> by id="articles-grid"> {{ article.category }} <div value="{{ search_query|default('') }}" <body> </div> </div>
placeholder="Search </head> method="post"
{% endfor %} onclick="location.href='{{ url_for('article_details', article_id=article.article_id) }}'">View id="catalog-page">
<button
value="">All charset="UTF-8"> <head>
<!DOCTYPE
</div>
{{ article.author }} <form
name="category_filter">
action="{{ url_for('catalog_search') }}"> Categories</option>
name="search_input"
<option
<div
title, id="view-article-button-{{ article.article_id }}" <div> {% if selected_category == category.category_name %}selected{% endif %}>{{ category.category_name }}</option> value="{{ category.category_name }}" <html
<title>Article {{ article.date }}</p> or <h2>{{ article.title }}</h2>
keywords"
<input
html>
type="text"
|
Catalog</title>
