id="dashboard-page"> <h2>{{ article.title }}</h2>
{% for article in featured_articles %} </div>
id="browse-articles-button"
</html> <div
</div> </head>
onclick="location.href='{{ url_for('trending_articles') }}'">Trending
<p>By
<body> {{ article.date }}</p>
id="view-bookmarks-button" Portal</title>
<meta Articles</button>
<div
<!DOCTYPE
</div>
<button <h1>News charset="UTF-8"> id="featured-articles">
on
Articles</button>
<button
html> <title>News {% endfor %} lang="en">
id="trending-articles-button" <head> </body> {{ article.author }}
Bookmarks</button> <div> onclick="location.href='{{ url_for('bookmarks') }}'">View onclick="location.href='{{ url_for('article_catalog') }}'">Browse
<html
Portal</h1>
<button
