/> />
{% for article in articles %} a
required
<div id="write-comment-page">
<head> /> required></textarea>
{% endfor %}
<h1>Write
value="{{ article.article_id }}">{{ article.title }}</option> rows="4"
id="commenter-name" id="comment-text" <br
</head> </body> </form>
name="select_article"> <select <form
lang="en"> Name:</label> Article:</label>
<option
Comment</h1> </html>
/>
<label
<button action="{{ url_for('submit_comment') }}">
method="post" id="submit-comment-button">Submit type="submit"
name="commenter_name" <title>Write for="select-article">Select html> <body> name="comment_text"
<br Comment</button>
</div> <meta
<label <html id="select-article" a Comment</title>
</select> <!DOCTYPE
for="comment-text">Comment:</label> type="text" <br charset="UTF-8">
for="commenter-name">Your
<input
<label
<textarea
