<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Dash</title>
</head>
<body>
    <div id="dashboard">
        <h1>{{ username }} welcome</h1>

        <button id="makeReservationButton" onclick="window.location.href='{{ url_for('makeReservation') }}'">Make Reservation</button>
        <button id="viewMenuButton" onclick="window.location.href='{{ url_for('menuPage') }}'">View Menu</button>
        <button id="backToDashboard" onclick="window.location.href='{{ url_for('dashBoard') }}'">Back To Dashboard</button>
        <button id="myReservationsButton" onclick="window.location.href='{{ url_for('myReservation') }}'">My Reservations</button>
        <button id="myReviewsButton" onclick="window.location.href='{{ url_for('myReview') }}'">My Reviews</button>
        <button id="waitListButton" onclick="window.location.href='{{ url_for('waitListPage') }}'">Wait List</button>
        <button id="profileBtn" onclick="window.location.href='{{ url_for('profilePage') }}'">Profile</button>

        <h2>Featured Dishes</h2>
        <ul>
            {% for dish in featuredDishes %}
            <li>
                <strong>{{ dish.name }}</strong> - Price: {{ dish.price }}<br>
                {{ dish.description }}
            </li>
            {% endfor %}
        </ul>

        <h2>Upcoming Reservations</h2>
        <ul>
            {% for reservation in upcomingReservations %}
            <li>
                ID: {{ reservation.reservation_id }}, Date: {{ reservation.date }}, Time: {{ reservation.time }}, Party Size: {{ reservation.partySize }}, Status: {{ reservation.status }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
