<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menus</title>
</head>
<body>
    <div id="menuPage">
        <div id="menuGrid">
            {% for dish in menus %}
            <div class="dishCard">
                <h3>{{ dish.name }}</h3>
                <p>Category: {{ dish.category }}</p>
                <p>Price: {{ dish.price }}</p>
                <p>Description: {{ dish.description }}</p>
                <p>Average Rating: {{ dish.avgRating }}</p>
                <button id="viewDishBtn-{{ dish.dishId }}" onclick="window.location.href='{{ url_for('dishDetails', dishId=dish.dishId) }}'">View Details</button>
            </div>
            {% endfor %}
        </div>
        <button id="backToDashboard" onclick="window.location.href='{{ url_for('dashBoard') }}'">Back To Dashboard</button>
    </div>
</body>
</html>
