<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
    <div id="profilePage">
        <h1>Profile Page</h1>
        <div id="profileUsername">{{ userProfile.username }}</div>
        <form method="GET" action="{{ url_for('profile') }}">
            <label for="profileEmail">Email:</label>
            <input id="profileEmail" class="email" type="email" name="email" value="{{ userProfile.email }}" required>
            <br>
            <button id="updateProfileBtn" type="submit">Update Profile</button>
        </form>
        <button id="backToDashboard" onclick="window.location.href='{{ url_for('dashBoard') }}'">Back To Dashboard</button>
    </div>
</body>
</html>
