<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details of Job</title>
</head>
<body>
    <div id="job-detail-page">
        <h1>Details of Job</h1>
        <h2 id="job-title">{{ job.title }}</h2>
        <span id="company-name">{{ job.company_name }}</span>
        <div id="job-description">{{ job.description }}</div>
        <div id="salary-range">{{ job.salary_min }} to {{ job.salary_max }}</div>

        <a href="{{ url_for('apply_form_page', job_id=job.job_id) }}">
            <button id="apply-now-btn">Apply Now</button>
        </a>
    </div>
</body>
</html>
