<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Version History</title>
</head>
<body id="version-history-page">
    <h1 id="version-history-title">Version History for Article {{ article_id }}</h1>
    <ul id="version-list">
        {% for version in versions %}
        <li>
            <span class="version-number">Version {{ version.version_number }}</span> - 
            <span class="version-timestamp">{{ version.timestamp }}</span> - 
            <span class="version-status">{{ version.status }}</span>
            <a href="{{ url_for('edit_article', article_id=article_id) }}?version={{ version.version_number }}" class="btn-edit-version">Edit</a>
            <a href="{{ url_for('compare_versions', article_id=article_id) }}?version={{ version.version_number }}" class="btn-compare-version">Compare</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('my_articles') }}" id="btn-back-to-my-articles">Back to My Articles</a>
</body>
</html>