<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <div id="dashboardPage">
        <h1>Dashboard</h1>
        <div id="featuredBooks">
            <h2>Featured Books</h2>
            <ul>
                {% for book in featured_books %}
                <li>{{ book.title }} by {{ book.author }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="bestsellersSummary">
            <h2>Bestsellers Summary</h2>
            <ul>
                {% for bestseller in bestsellers_summary %}
                <li>{{ bestseller.Title }} by {{ bestseller.Author }} - Sales: {{ bestseller.sales }}</li>
                {% endfor %}
            </ul>
        </div>
        <button id="browse-catalog-button" onclick="window.location.href='{{ url_for('bookcatalog') }}'">Browse Catalog</button>
        <button id="view-cart-button" onclick="window.location.href='{{ url_for('shoppingCart') }}'">View Cart</button>
        <button id="bestsellers-button" onclick="window.location.href='{{ url_for('bestseller') }}'">Bestsellers</button>
    </div>
</body>
</html>