<select <button
{% for location in locations %} charset="UTF-8">
<head>
value="{{ dropoff_date }}"> action="{{ url_for('booking_page', vehicle_id=vehicle.vehicle_id) }}">
<button <title>Book Your
</div>
id="dropoff-date"
<label value="{{ pickup_date }}">
value="{{ location.city }}" value="{{ location.city }}" onclick="location.href='{{ url_for('insurance_options', reservation_id=some_reservation_id) }}'">Proceed
<html -
{% if some_reservation_id is defined %} name="dropoff_date" Total
{% endif %} type="submit" {% endfor %}
id="total-price"> name="dropoff_location"> -
<meta
name="pickup_location"> <select <input for="dropoff-date">Dropoff </div>
id="calculate-price-button">Calculate
<option

<div method="POST" </head>
</div> <body> </form>
Location:</label>
<div Total Date:</label> name="pickup_date" Price:
</html>
<form

for="pickup-date">Pickup {% endfor %} <option
id="pickup-location" <label {% for location in locations %} <label type="date"

Price</button> {{ location.address }}</option> <label
<div html> Date:</label> id="dropoff-location" Insurance</button>

type="date" ${{ "%.2f"|format(total_price) if total_price is not none else "0.00" }} Your {% if location.city == pickup_location %}selected{% endif %}>{{ location.city }} <input
id="proceed-to-insurance-button"
{{ location.address }}</option> <!DOCTYPE
Location:</label> Rental</title> {% if location.city == dropoff_location %}selected{% endif %}>{{ location.city }}
</body>
to
for="dropoff-location">Dropoff id="booking-page"> <h1>Book Rental</h1> id="main-container">
</select>
lang="en">
for="pickup-location">Pickup
</select>
id="pickup-date"
