id="vehicles-grid"> range">
Dates:</label> <body>
{{ vehicle.model }}</div>
lang="en"> day</div>
<input <!DOCTYPE
<html
{% for type in vehicle_types %}
{% endfor %} for="date-range-input">Rental
</form> name="location">
<option <form
{% if location.city == selected_location %}selected{% endif %}>{{ location.city }} action="{{ url_for('search_vehicles') }}"> method="GET"
{% for location in locations %} class="vehicle-card">
</div> placeholder="Select <head>
date
name="vehicle_type"> </select> for="vehicle-type-filter">Vehicle html> id="vehicle-type-filter"
type="submit">Search</button>
<label
</body> value="{{ type }}" {% endfor %}
<label <meta id="view-details-button-{{ vehicle.vehicle_id }}"
per
charset="UTF-8"> for="location-filter">Location:</label> <select
name="date_range"
<div>{{ vehicle.make }}
Vehicles</h1> {% if type == selected_vehicle_type %}selected{% endif %}>{{ type }}</option> id="main-container">
</select> </div> <select <button <div {% endfor %} <div
id="search-page"> </head>
value="{{ location.city }}"
id="location-filter" {{ location.address }}</option>
<title>Search
{% for vehicle in vehicles %} <h1>Search
</div> <label
- </div> </html>
<div Vehicles</title> Type:</label> id="date-range-input"
<option
<div>${{ "%.2f"|format(vehicle.daily_rate) }}
Details</button>
type="text"
<div
<button
onclick="location.href='{{ url_for('vehicle_details', vehicle_id=vehicle.vehicle_id) }}'">View
