Assistance:</label> Reservation:</label>
id="select-reservation" for="child-seat-quantity">Child
id="submit-requests-button"
</select> value="true"
</div> </form>
|
{{ res.vehicle }}
for="gps-option-checkbox">GPS <h1>Special
id="gps-option-checkbox" type="checkbox"
<select <label
{% endfor %} </body> <title>Special
</html> value="{{ requests_data.child_seat_quantity }}"> <form
{{ res.dropoff_date }} id="main-container"> value="true"
<label
html> lang="en"> <input
for="special-notes">Special name="child_seat_quantity" for="select-reservation">Select <html <label <body>
{% for res in reservations %}
method="POST"
<head>

Notes:</label> <div id="requests-page">
value="{{ res.reservation_id }}" Quantity:</label> <input ({{ res.status }}) {% if res.reservation_id == selected_reservation_id %}selected{% endif %}> Requests</button>

type="submit">Submit id="child-seat-quantity" Option:</label>
for="driver-assistance-checkbox">Driver Seat id="driver-assistance-checkbox" <!DOCTYPE charset="UTF-8"> <textarea

min="0" {% if requests_data.gps_option %}checked{% endif %}> <input <label
</div> Requests</title> to <button type="checkbox" Requests</h1>

action="{{ url_for('special_requests') }}"> </option> name="gps_option"
type="number" </head> <option

<label <div name="selected_reservation_id"> name="driver_assistance"
name="special_notes">{{ requests_data.special_notes }}</textarea>
id="special-notes"
<meta
{{ res.pickup_date }}
{% if requests_data.driver_assistance %}checked{% endif %}>
