</div> <h1
class="review"> <div
<p>No
</body> Details</title>
</div> <p>Seats:
<body>
{{ vehicle.status }}</p>
<!DOCTYPE <button
yet.</p> {{ vehicle.seats }}</p>
- id="book-now-button"
id="vehicle-reviews"> <div <html
lang="en"> Reviews</h2>
<p>Fuel <strong>{{ review.reviewer }}</strong>
<title>Vehicle <meta
reviews </div> Rating:
</div> {% endfor %}
</head>
id="vehicle-name">{{ vehicle.make }} charset="UTF-8">
<div {% else %} {{ vehicle.fuel_type }}</p> <div
<head> {{ vehicle.model }}</h1>
<p>{{ review.comment }}</p> Type:
</div>
id="daily-rate">${{ "%.2f"|format(vehicle.daily_rate) }}</div> <h1>Vehicle
{% for review in reviews %} <p>Transmission: <div {{ review.rating }}/5
<h2>Customer
id="vehicle-details-page">
<div
onclick="location.href='{{ url_for('booking_page', vehicle_id=vehicle.vehicle_id) }}'">Book <p>Status: id="main-container">
Details</h1>
id="vehicle-specs">
Now</button>
</html>
{{ vehicle.transmission }}</p>
html>
