<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Profile</title>
</head>
<body>
<div id="company-info">
    <h1>{{ company.name }}</h1>
    <p>{{ company.location }}</p>
    <p>{{ company.description }}</p>

    <div id="jobs-list">
        <h2>Jobs at this Company</h2>
        <ul>
            {% for job in jobs %}
            <li>{{ job.title }} - {{ job.status }} <button onclick="location.href='{{ url_for('job_details', job_id=job.job_id) }}'">View</button></li>
            {% endfor %}
        </ul>
    </div>
    <button id="back-to-companies" onclick="location.href='{{ url_for('companies_directory') }}'">Back to Companies</button>
</div>
</body>
</html>
