<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumes</title>
</head>
<body>
<div id="resumes-container">
    <h1>Uploaded Resumes</h1>
    <ul>
        {% for resume in resumes %}
        <li>{{ resume.applicant_email }} - {{ resume.filename }} - {{ resume.summary }}
            <button id="delete-resume-button-{{ resume.resume_id }}" onclick="location.href='{{ url_for('delete_resume', resume_id=resume.resume_id) }}'">Delete</button>
        </li>
        {% endfor %}
    </ul>
    <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
</div>
</body>
</html>
