<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Weather Conditions</title>
</head>
<body>
    <div id="current_weather_page">
        <h1 id="location_name_display">{{ location_name }}</h1>
        <div id="temp_display">Temperature: {{ temp }}</div>
        <div id="weather_condition_display">Condition: {{ weather_condition | join(", ") }}</div>
        <p id="humidity_display">Humidity: {{ humidity }}</p>
        <p id="wind_speed_display">Wind Speed: {{ wind_speed }}</p>
    </div>
</body>
</html>
