<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}" id="back-to-dashboard">Back to Dashboard</a>
    </nav>
    <h1>Air Quality Index for {{ location_name }}</h1>
    <div id="aqi-display">
        <h2>AQI: {{ aqi_data.aqi_index }}</h2>
        <p>Health: {{ aqi_data.description }}</p>
        <p>PM2.5: {{ aqi_data.pm25 }}</p>
        <p>PM10: {{ aqi_data.pm10 }}</p>
        <p>NO2: {{ aqi_data.no2 }}</p>
        <p>O3: {{ aqi_data.o3 }}</p>
        <p>Last Updated: {{ aqi_data.last_updated }}</p>
        <p>Recommendation: {{ health_recommendation }}</p>
    </div>
</body>
</html>
