</html> html>
lang="en"> <head>
<h1>My
<button <body>
</body> <meta Favorite
id="back-to-dashboard">Back
action="{{ url_for('remove_from_favorites', property_id=favorite.property_id) }}">
</a> <button
id="view-property-button-{{ favorite.property_id }}">View</button> </div> {% for favorite in favorites %}
<button <!DOCTYPE
</head>
</form> <form
Dashboard</button>
</a> type="submit">Remove</button>
to <title>My <h3>{{ properties_by_id[favorite.property_id].address }}</h3>
<a href="{{ url_for('dashboard_page') }}"> id="favorites-page">
<div
<a charset="UTF-8">
</div> href="{{ url_for('property_details_page', property_id=favorite.property_id) }}">
id="remove-from-favorites-button-{{ favorite.property_id }}"
{% endfor %}
${{ properties_by_id[favorite.property_id].price }}</div>
Favorite

<div>Price: <div
class="favorite-item"> <html Properties</title> Properties</h1>
</div>
id="favorites-list">
method="POST"
<div