</tr> <td>{{ inquiry.message }}</td>
</tbody> {% endfor %}
<!DOCTYPE
<td>{{ inquiry.customer_phone }}</td> <th>Delete</th>
<button value="Pending">Pending</option>
<option
<a
value="Resolved">Resolved</option> </select>
id="inquiries-page"> border="1">

</head> </td> <head> <td>{{ inquiry.status }}</td>
</a> value="">All</option> <td>{{ inquiry.inquiry_date }}</td> <thead>
Status:</label> id="back-to-dashboard">Back
<th>Date</th> for="inquiry-status-filter">Filter
method="POST" lang="en">
<option </div>
<td>{{ inquiry.property_address }}</td>

<th>Property</th> <h1>My <th>Email</th>
<meta
<body>
value="Contacted">Contacted</option>
action="{{ url_for('delete_inquiry', inquiry_id=inquiry.inquiry_id) }}">
name="status"
type="submit">Delete</button>
</form>
</table>
id="delete-inquiry-button-{{ inquiry.inquiry_id }}"
<td>{{ inquiry.customer_name }}</td>
<option
<td>
<div
id="inquiry-status-filter"
<label
by
<th>Message</th>
Inquiries</h1>
to
<select
Inquiries</title>
</tr>
<th>Status</th>
<tr> html> <td>{{ inquiry.customer_email }}</td>
<tr> charset="UTF-8"> {% for inquiry in inquiries %}
<button
id="inquiries-table"
</body>
href="{{ url_for('dashboard_page') }}">
<option
</thead>

onchange="this.form.submit()"> <th>Phone</th>
<th>Name</th> <form <table <tbody>
</html>
<title>My
Dashboard</button>
<html