<form <option
value="name">Name</option> value="property_count">Property
<option
<option <a
{% endfor %} <div>{{ location.description }}</div>
<button
class="location-item">
<div value="">Default</option>
</a> </head>

</select> </form> Locations</h1> <div
html> ${{ location.average_price }}</div> action="">
{{ location.property_count }}</div> <div>Average </body>
id="locations-list"> href="{{ url_for('dashboard_page') }}">
method="GET" {% for location in locations %}
<button <h1>Featured By:</label>
id="locations-page"> id="location-sort-form" id="location-sort"
<label
<div

name="sort"> <select
href="{{ url_for('property_search_page', location=location.location_name) }}">
<h3>{{ location.location_name }}</h3> <body>
to
</html>
<div>Properties: <option <meta
Price: </a>
Dashboard</button> <head>
</div> <title>Featured
<html
Locations</title>
id="back-to-dashboard">Back
lang="en">

</div> <!DOCTYPE
id="view-location-button-{{ location.location_id }}">View</button> <a for="location-sort">Sort value="average_price">Average
charset="UTF-8">
</div>
Count</option>
Price</option>