<a <div
Favorites</button> </div>
<li>Square
<div </div>
<h1 <meta
{{ property.property_type }}</li>
<ul>
</ul> type="submit">Add
href="{{ url_for('inquiry_form_page') }}"> </head>
<html </a>
</form> id="property-details-page">
</html> Inquiry</button>
<div
<!DOCTYPE <li>Bedrooms:
{{ property.square_feet }}</li> {{ property.bathrooms }}</li>
lang="en"> </body> id="property-description">{{ property.description }}</div>
<body> to
charset="UTF-8">
<li>Bathrooms:

<form <button <li>Type:
<title>Property id="property-price">${{ property.price }}</div> action="{{ url_for('add_to_favorites', property_id=property.property_id) }}"> {{ property.bedrooms }}</li> id="property-features">
html>

Details</title> id="submit-inquiry-button">Submit
id="property-address">{{ property.address }}</h1> Feet: <head>
id="add-to-favorites-button"
<button
<div
method="POST"