<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
<div id="catalog-page">
    <h1>Catalog</h1>
    <ul>
        {% for book in books %}
        <li>
            <button id="view-book-button-{{ book.book_id }}" onclick="location.href='{{ url_for('book_details', book_id=book.book_id) }}'">
                <strong>{{ book.title }}</strong> by {{ book.author }}
            </button>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('dashboard') }}" id="back-to-dashboard">Back to Dashboard</a>
</div>
</body>
</html>
