</select> New
value="Bird">Bird</option> <input
<label
<input id="pet-species-input"
</select> value="Medium">Medium</option> <option
value="Dog">Dog</option>
<label
value="Female">Female</option> <label
for="pet-size-input">Size:</label> <option value="Small">Small</option> name="age"
<select Pet</title> <!DOCTYPE
<option <button
id="pet-name-input" <body> <select required></textarea> required>
<option id="add-pet-page">Add
<html <title>Add <form value="Rabbit">Rabbit</option>
id="add-pet-page"> charset="UTF-8">
required> <label
name="description" </head>
<option <textarea
<label id="pet-gender-input"
<label
<h1 type="text"
type="text" value="Cat">Cat</option> <option for="pet-name-input">Name:</label> <option
to for="pet-age-input">Age:</label>
name="species" name="name" id="pet-description-input" id="pet-size-input" <option
name="size" required>
value="Other">Other</option> <select </body> required>
name="gender" </form>
<head> <div
for="pet-breed-input">Breed:</label>
Pet</h1> id="pet-age-input"
onclick="location.href='{{ url_for('dashboard_page') }}'">Back <input for="pet-description-input">Description:</label> Pet</button>
<option lang="en">
<option <meta
required> action="{{ url_for('add_pet_page') }}">
New
html> id="pet-breed-input"
value="Male">Male</option> <button type="submit" Dashboard</button>
method="post" value="Large">Large</option> name="breed" id="back-to-dashboard"
</div>
</select> </html> id="submit-pet-button">Add type="text" for="pet-species-input">Species:</label>
<label
required>
for="pet-gender-input">Gender:</label>