Panel</h1> html>
lang="en"> </div>
<head>
<div id="all-pets-list">
id="back-to-dashboard" {% endfor %}
<meta
Pets</h2>
{% endfor %} Status:
id="admin-panel-page">Admin on to
Applications</h2> </li>
applied <!DOCTYPE
<body>
<h2>All
onclick="location.href='{{ url_for('dashboard_page') }}'">Back </div>
<li <h1 </ul> <title>Admin <li id="pet-{{ pet.pet_id }}">{{ pet.name }}
-
{{ app.pet_name }}
id="pending-applications">
</ul>
</html> </body>
</div> {{ app.date_submitted }}
<button
{{ app.applicant_name }}
Panel</title> id="pending-application-{{ app.application_id }}"> <ul> {% for app in pending_applications %} Dashboard</button>
{{ pet.status }}</li>
</head>
<div
{% for pet in all_pets %} <h2>Pending for id="admin-panel-page"> <html
<div
<ul>
charset="UTF-8">