<!DOCTYPE <option
<button id="reason"
</form>
for="reason">Reason id="applicant-name"
<h1 required>
id="applicant-phone"
<head>
<label </head>
id="application-page"> <input for="applicant-phone">Phone:</label>
<textarea onclick="location.href='{{ url_for('pet_details_page', pet_id=pet.pet_id) }}'">Back lang="en">
</body> Application</button> value="House">House</option>
{{ pet.name }}</h2> required>
name="applicant_phone" required></textarea> <body> </div> <meta
for="housing-type">Housing type="text"
required> <button action="{{ url_for('adoption_application_page', pet_id=pet.pet_id) }}"> <select </select>
<label name="applicant_name" id="submit-application-button">Submit
type="submit" Application</h1> for: name="housing_type"
id="application-page">Adoption to
Adoption:</label> Application</title>
Pet</button> <option
<label html>
<option
charset="UTF-8"> <input value="Other">Other</option> <form
<h2>Applying id="back-to-pet" for for="applicant-name">Name:</label>
value="Condo">Condo</option> method="post" <div value="Apartment">Apartment</option>
<label
id="housing-type" Type:</label> name="reason" type="text" <option
</html>
<title>Adoption
<html