id="shelter-info"> html>
<!DOCTYPE <div
Listings</button>
<title>Pet <h1
{{ shelter_info.phone }}</div> {{ pet.species }}</div>
id="back-to-listings"
<div
id="pet-breed">Breed: <div
id="pet-description">Description: <html
charset="UTF-8"> Details</title> <div
<div <div id="pet-name">{{ pet.name }}</h1>
</div> onclick="location.href='{{ url_for('adoption_application_page', pet_id=pet.pet_id) }}'">Adopt</button> {{ shelter_info.email }}</div>
Information</h2> lang="en"> <button
</body> id="pet-size">Size: id="pet-details-page">
{{ pet.breed }}</div> </head> <div
to <body>
<div </html>
{{ pet.description }}</div> <div <meta
{{ pet.gender }}</div> <h2>Shelter id="pet-age">Age:
<button id="shelter-name">Name: {{ pet.age }}</div>
id="pet-species">Species:
id="pet-gender">Gender: id="adopt-button" id="shelter-email">Email:
{{ shelter_info.name }}</div> {{ pet.size }}</div> </div> id="shelter-phone">Phone: <div
<div
<head>
onclick="location.href='{{ url_for('pet_listings_page') }}'">Back