<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
</head>
<body>
    <div id="item-details">
        <h1 id="item-name">{{ item.item_name }}</h1>
        <p id="item-description">{{ item.description }}</p>
        <p id="item-price">Price: ${{ item.price }}</p>
        <input type="number" id="item-quantity" name="quantity" value="1" min="1">
        <button id="add-to-cart-button" onclick="location.href='{{ url_for('add_to_cart', item_id=item.item_id) }}'">Add to Cart</button>
    </div>
</body>
</html>