{% if loc == dropoff_date %}selected{% endif %}>{{ loc }}</option> <h1>Book
for="pickup-location">Pickup <select
name="dropoff_date"
type="date" Your
type="date" <div id="dropoff-date"
Price:
<head>
Rental</title> </body>
for="pickup-date">Pickup {% endfor %} lang="en">
</select> <meta
<select value="{{ loc }}" <!DOCTYPE
Location:</label> Price</button> <title>Book
id="dropoff-location"
</div> Date:</label> <input
<body>
method="POST">

<button for="dropoff-location">Dropoff <option
value="{{ dropoff_date if dropoff_date else '' }}"> id="calculate-price-button">Calculate Rental</h1>
id="booking-page">
<label <label <button
charset="UTF-8">
id="pickup-location"

</form> {% if loc == pickup_date %}selected{% endif %}>{{ loc }}</option> name="dropoff_location">
<label {% for loc in locations %} value="{{ loc }}" Date:</label> to

<input <option </select>
<form for="dropoff-date">Dropoff <div id="total-price"> <p>Total

<html {% for loc in locations %} id="pickup-date" </head>
Your
html> name="pickup_date"
{% if total_price is not none %}
id="proceed-to-insurance-button" Insurance</button> <label
value="{{ pickup_date if pickup_date else '' }}">
onclick="location.href='{{ url_for('insurance_options_page') }}'">Proceed
</div> ${{ '%.2f'|format(total_price) }}</p> </html> name="pickup_location"> {% endfor %}
{% endif %}
Location:</label>
type="submit"
