Requests</h1> Reservation:</label>
Seats:</label> id="select-reservation"
html>
id="requests-page"> Child
</select> type="number"
<html
lang="en">
<div> type="submit"
{{ reservation.reservation_id }}</option> <!DOCTYPE
<select name="driver_assistance"
name="special_notes">{{ special_requests_form_data.special_notes if special_requests_form_data else '' }}</textarea> </div> <h1>Special
</div> <label min="0"
</body>
for="special-notes">Special method="POST"> for="select-reservation">Select <head>
<label
<input

for="child-seat-quantity">Number
Requests</title> <div {% endfor %} Option</label> type="checkbox"
<button charset="UTF-8"> id="special-notes"
</form>

<label
</div> id="submit-requests-button">Submit {% if special_requests_form_data and special_requests_form_data.gps_option %}checked{% endif %}> id="driver-assistance-checkbox" id="gps-option-checkbox"
for="driver-assistance-checkbox">Driver <label name="gps_option"
of

<body> Notes:</label> id="child-seat-quantity" <form <textarea
<option <meta {% if special_requests_form_data and special_requests_form_data.reservation_id == reservation.reservation_id %}selected{% endif %}>Reservation {% if special_requests_form_data and special_requests_form_data.driver_assistance %}checked{% endif %}> name="reservation_id"> value="{{ special_requests_form_data.child_seats if special_requests_form_data else 0 }}">

value="{{ reservation.reservation_id }}" Assistance</label> for="gps-option-checkbox">GPS
type="checkbox" <label name="child_seats"

<input Requests</button> <div> </head> {% for reservation in reservations %}
<input
</html>
<title>Special
Special
