id="date-range-input" {% for location in locations %}
</div> <body>
Vehicles</title>
{% endfor %} html>
<div> Range:</label>
onclick="location.href='{{ url_for('vehicle_details_page', vehicle_id=vehicle.vehicle_id) }}'">View
<option
<!DOCTYPE Rate:
<option <head>
{{ vehicle.fuel_type }}</p> value="">All <p>Transmission:
name="date_range" action=""> <option
</div> <html type="text"
{{ vehicle.model }}</h3> value="">All <p>Type:
${{ vehicle.daily_rate }}</p>
{% endfor %} <meta
Location:</label>
for="location-filter">Pickup

</div> id="vehicles-grid"> placeholder="Select
charset="UTF-8"> {{ vehicle.status }}</p> value="{{ location }}">{{ location }}</option>
name="location"> {% endfor %} <p>Daily
<button
id="view-details-button-{{ vehicle.vehicle_id }}" {% for vt in vehicle_types %}
<div
type="submit">Search</button>

<label </form> <label </select>
lang="en"> id="location-filter" {{ vehicle.transmission }}</p> </select> <option <title>Search <h3>{{ vehicle.make }}

Type:</label> id="vehicle-type-filter"
value="{{ vt }}">{{ vt }}</option>

<select <div
Date
<h1>Search
for="vehicle-type-filter">Vehicle name="vehicle_type">
<button <p>Seats:
for="date-range-input">Rental <p>Fuel:
id="search-page"> <label
{{ vehicle.vehicle_type }}</p> range">
Vehicles</h1> date
</body> <select <form
Types</option> {{ vehicle.seats }}</p> method="GET" <input
</html>
<p>Status:
Details</button>
Locations</option>
</head>
{% for vehicle in vehicles %}
