<li>{{ review }}</li> lang="en">
id="vehicle-specs"> <div
onclick="location.href='{{ url_for('booking_page', vehicle_id=vehicle.vehicle_id) }}'">Book
charset="UTF-8"> Rental
</head> <title>Vehicle
<p>Seats:
<!DOCTYPE
id="book-now-button" ${{ vehicle.daily_rate }}</p>
</ul> <p>Transmission: Now</button>
{% for review in reviews %} <div
<li>No <body>
<div Rate:
</body>
reviews {{ vehicle.transmission }}</p>
</div> {{ vehicle.seats }}</p> <meta </html>
Details</title>
id="daily-rate"> id="vehicle-details-page"> <h2>Customer <div
</div> {% endfor %}
{{ vehicle.model }}</h1> id="vehicle-name">{{ vehicle.make }}
</div>
<html
<p>Daily
<head>
<button html> id="vehicle-reviews">
{% else %}
Reviews</h2>
</div>
<h1
<ul>
available.</li>
