</head> html>
value="18:00">18:00</option> <option
value="08:00">08:00</option>
<label <option
value="09:00">09:00</option> <option for="session-time">Select
<!DOCTYPE
Booking</button>
<option <br>
value="14:00">14:00</option> <label {% for trainer in trainers %}
<meta Training</h1> minutes</option>
<input value="13:00">13:00</option> type="submit"
<option <label <br> value="{{ trainer.trainer_id }}">{{ trainer.name }}</option>
required>
required> <button
id="session-time"
required>
<div
<body> Date:</label> <option
value="12:00">12:00</option> value="07:00">07:00</option> Training</title> </select> </select>
<option
<head> for="session-date">Select <option
name="select-trainer" for="select-trainer">Select </div> </select>
<option Time:</label>
id="confirm-booking-button">Confirm value="11:00">11:00</option>
<br> {% endfor %}
<html </form>
<option lang="en">
id="select-trainer" value="16:00">16:00</option>
<form charset="UTF-8">
<br> value="06:00">06:00</option>
minutes</option> Duration:</label>
Personal required>
name="session-date" <option
id="session-duration" value="45">45
id="session-date" for="session-duration">Select
<option
<label
method="POST" <option id="booking-page">
Personal value="10:00">10:00</option> name="session-time" Trainer:</label>
action="{{ url_for('pt_booking') }}"> <select <option
name="session-duration" <select </body>
</html> type="date" value="60">60
<title>Book
<select
<option <option value="30">30 <h1>Book
<option
value="15:00">15:00</option>
value="17:00">17:00</option>
minutes</option>