id="workout-type" type="number"
for="workout-notes">Notes:</label> </head>
<form
id="submit-workout-button">Submit</button> id="workout-duration"
min="0" lang="en">
<input
action="{{ url_for('log_workout') }}">
<label <br>
<label min="1"
name="calories-burned" <!DOCTYPE <title>Log
Burned:</label> (minutes):</label> </form>
method="POST" value="Strength">Strength</option> required> <div
Workout</title> name="workout-type"
name="workout-duration" required>
<meta <br>
<label
<label
<option html> for="workout-type">Workout
<br> <button name="workout-notes"></textarea> for="workout-duration">Duration <input value="Class">Class</option>
type="submit"
<option </div> id="workout-notes"
<br> value="Cardio">Cardio</option> <html charset="UTF-8"> Type:</label> </select>
Workout</h1>
id="calories-burned" for="calories-burned">Calories
<option id="log-workout-page"> <textarea
</body>
<h1>Log required> <select
type="number"
</html>
<head>
<body>