id="trainer-certifications">Certifications: Session</button></a>
<div {{ review.review_text }}</li>
<h1
</body> id="trainer-bio">{{ trainer.bio }}</div>
</div> <div
id="book-session-button">Book
<head>
html> available.</p>
<body> </head>
href="{{ url_for('pt_booking') }}"><button <p>No
<div a <ul>
{% for review in trainer_reviews %} {% else %} </html> <h2>Client {% endif %}
Profile</title> charset="UTF-8">
lang="en">
{% if trainer_reviews %} <!DOCTYPE
{{ trainer.certifications }}</div>
<title>Trainer
<html <meta
<div
Reviews</h2>
id="trainer-detail-page">
{% endfor %} <a reviews
</div>
id="trainer-reviews">
<li><strong>{{ review.reviewer_name }}:</strong>
</ul>
id="trainer-name">{{ trainer.name }}</h1>