<tbody> Type:</label>
<html value="Cardio">Cardio</option>
<div
Dashboard</button></a> </table>
name="filter-by-type"> Workout charset="UTF-8">
<a
<th>Calories
Records</h1> <option
<head> <td>{{ workout.member_name }}</td> <thead>
id="log-workout-button">Log <a id="workouts-table" value="Class">Class</option> <th>Workout
<th>Member <title>My <meta
(min)</th> href="{{ url_for('log_workout') }}"><button
<label <td>{{ workout.duration_minutes }}</td>
<option <body>
</tr> </body>
Type</th>
lang="en"> {% endfor %} </thead>
<td>{{ workout.workout_type }}</td>
href="{{ url_for('dashboard') }}"><button
<th>Duration Name</th>
Workout <th>Date</th>
<!DOCTYPE
id="back-to-dashboard">Back Workout
<td>{{ workout.notes }}</td> <select
<tr>
<td>{{ workout.calories_burned }}</td>
html>
to
</html>
id="filter-by-type"
<h1>My
<table
</select>
value="Strength">Strength</option>
<option
Workout</button></a>
<option
</head>
</tr>
Burned</th>
<th>Notes</th> border="1"> </tbody> by
value="All">All</option> Records</title> </div> {% for workout in workouts %} <tr>
<td>{{ workout.workout_date }}</td>
id="workouts-page">
for="filter-by-type">Filter