<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav id="nav">
        <ul id="nav-list">
            <li id="nav-home"><a href="{{ url_for('home') }}" id="nav-link-home">Home</a></li>
            <li id="nav-about"><a href="{{ url_for('about') }}" id="nav-link-about">About</a></li>
            <li id="nav-contact"><a href="{{ url_for('contact') }}" id="nav-link-contact">Contact</a></li>
        </ul>
    </nav>
    <div id="container-id">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
