{% extends "base.html" %}

{% block title %}OnlineAuction - Auctions{% endblock %}

{% block content %}
<h1 id="auctions-title">Current Auctions</h1>
<ul id="auctions-list">
    {% for auction in auctions %}
    <li class="auction-item" id="auction-{{ auction.id }}">
        <a href="{{ url_for('auction_detail', auction_id=auction.id) }}">{{ auction.title }}</a>
        <p>{{ auction.description }}</p>
        <span>Current Bid: {{ auction.current_bid }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
