<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
    <div id="main-container">
        <section id="cart_page">
            <h1>Shopping Cart</h1>
            <table id="cart_items_table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td><input type="text" id="update-quantity-{{ item.item_id }}" value="{{ item.quantity }}"/></td>
                        <td>{{ item.price }}</td>
                        <td><button id="remove-item-button-{{ item.item_id }}">Remove</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>Total Amount: $<span id="total-amount">{{ total_amount }}</span></div>
            <input type="button" id="proceed-checkout-button" value="Proceed to Checkout"/>
        </section>
    </div>
</body>
</html>