<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Detail</title>
</head>
<body>
    <div id="main-container">
        <section id="item-details-page">
            <h2 id="item-name">{{ item.item_name }}</h2>
            <span id="item-description">{{ item.description }}</span>
            <span id="item-price">{{ item.price }}</span>
            <textarea id="quantity-input" rows="1" cols="4">1</textarea>
            <input type="button" id="add-to-cart-button" value="Add to Cart" />
        </section>
    </div>
</body>
</html>