</html> -
</div> {% endfor %}
</div>
<div id="courses-list">
<div <meta
courses
{{ course.progress }}%</span>
found.</p> <button
{% else %} </head>
<html
onclick="location.href='{{ url_for('dashboard') }}'">Back </body>
id="my-courses-page"> </div> <head> {% for course in enrolled_courses %}
<!DOCTYPE <button <p>No Learning</button>
lang="en">
class="course-entry">
<span>{{ course.title }} <body> Dashboard</button> charset="UTF-8">
onclick="location.href='{{ url_for('course_learning', course_id=course.course_id) }}'">Continue
to
enrolled <title>My <div id="back-to-dashboard" id="continue-learning-button-{{ course.course_id }}"
Progress:
html>
Courses</title>
