name="fullname" <br>
<!DOCTYPE <body>
id="update-profile-button"
</html> html>
<input value="{{ email }}"
</head>
id="profile-email"
action="{{ url_for('update_profile') }}"> <input
Profile</button>
Name:</label>
<title>My
<form <label </body>
{% if message %} method="POST"
<br> required> for="profile-fullname">Full Dashboard</button> Profile</title> id="profile-page">
name="email"
type="email" <label <p>{{ message }}</p>
to <button id="back-to-dashboard" <head> <div </div>
for="profile-email">Email:</label>
type="submit">Update lang="en"> </form> <button
value="{{ fullname }}"
charset="UTF-8"> {% endif %} onclick="location.href='{{ url_for('dashboard') }}'">Back id="profile-fullname" type="text"
required>
<html
<meta
