Ascending</option> ({{ album.year }})</div>
<div <h1>Albums</h1>
</body>
value="year_desc">Year </div>
{% for album in albums %}
</div>
Ascending</option>
</head> <meta
<option

<option </a> placeholder="Search {% endfor %} lang="en">

id="sort-albums"> <option
<body> <!DOCTYPE </select>
</html> Descending</option> Descending</option>
id="albums-page"> <html id="search-albums"
id="view-album-button-{{ album.album_id }}">View</button> value="title_asc">Title value="title_desc">Title
<head>

<title>Albums</title> <select
</div>
by <input
charset="UTF-8"> {{ album.artist }} <div id="albums-grid">
<option <div
<button <a
<div>{{ album.title }}
albums...">
html>
href="{{ url_for('album_details_page', album_id=album.album_id) }}">
value="year_asc">Year
type="text"
class="album-item">
