</select><br><br> html>
<meta id="album-songs-list">
<div
</div> </div>
required> name="playlist_id"
charset="UTF-8">
<div
{% endfor %} <title>Album
<label <form
lang="en"> <div
Album {% for playlist in user_playlists %} id="album-year">Year:

<ul> <h1
to
{% for song in songs_in_album %}
action="{{ url_for('add_album_songs_to_playlist', album_id=album.album_id) }}"> <div
Details</title>
</ul>
{% endfor %}

<button id="playlist-select" {{ album.year }}</div>
<html <body> <head>
<!DOCTYPE <li>{{ song.title }} for="playlist-select">Select value="{{ playlist.playlist_id }}">{{ playlist.title }}</option>
Playlist</button>
</head> <option
({{ song.duration }}s)</li>
id="add-album-to-playlist-button">Add
</form> Playlist:</label><br> </body> type="submit" id="album-details-page"> id="album-title">{{ album.title }}</h1>
<select
id="album-artist">{{ album.artist }}</div>
method="POST"
</html>
