<input html>
lang="en"> </select>
<head>
<div id="artists-grid">
</div> <option
<meta
<div
id="view-artist-button-{{ artist.artist_id }}">View</button> </a>
Profiles</h1> <option

</html> artists..."> Ascending</option> <option <!DOCTYPE

<body> {% for artist in artists %}
</body> {% endfor %} ({{ artist.genre }})</div>
<h1>Artist </div> <title>Artist
<option <a href="{{ url_for('artist_profile_page', artist_id=artist.artist_id) }}">
Descending</option> id="search-artists" value="genre_desc">Genre
charset="UTF-8">

<div </div>
Descending</option>
value="genre_asc">Genre <div>{{ artist.name }}
Ascending</option> Profiles</title>
value="name_asc">Name <select
id="artists-sort"> <html
<button
</head>
type="text"
class="artist-item">
placeholder="Search
value="name_desc">Name
id="artists-page">
