required></textarea><br><br> <button
name="playlist-description-input" id="playlist-name-input"
<input
New id="create-playlist-page">
<h1>Create href="{{ url_for('playlists_page') }}"><button </form>
required><br><br>
charset="UTF-8">
</head> <html
<meta <form for="playlist-description-input">Description:</label><br>

<title>Create type="button" id="playlist-description-input"
<head> for="playlist-name-input">Name:</label><br>
method="POST" <!DOCTYPE </div> <div name="playlist-name-input"

Playlist</title> New
</body> <label type="submit" Playlist</button>

id="save-playlist-button">Save id="cancel-create-button">Cancel</button></a> <body> <label
action="{{ url_for('create_playlist_page') }}"> <textarea Playlist</h1> type="text"
</html>
lang="en">
<a
html>
