<a {% endfor %}
</div> </head>
Streaming
<a ({{ song.duration }}s)</li>
<li>{{ song.title }} {% for song in featured_songs %} <a
<!DOCTYPE
lang="en">
Playlists</button></a> charset="UTF-8">
href="{{ url_for('song_catalog_page') }}"><button html> id="my-playlists-button">My

</div> by
<div> Artists</button></a>
href="{{ url_for('artists_page') }}"><button
Streaming
Dashboard</h1> Dashboard</title> </div> <head>
id="featured-songs">
Songs</button></a>
<h2>Featured

{{ song.artist }}
<meta </html> </body> <body>
Songs</h2> <div id="browse-songs-button">Browse <html
<title>Music <h1>Music <div </ul>
href="{{ url_for('playlists_page') }}"><button
id="dashboard-page">
id="trending-artists-button">Trending
<ul>
