</head> <h1>Genre
</html> </ul>
<a
{{ genre.description }}</li> <select
value="{{ genre.genre_id }}">{{ genre.genre_name }}</option> <li>{{ artist.name }}</li>
Genre</option>
<li>{{ song.title }}
id="genre-artists"> id="select-genre">
</ul> id="genres-list">

<meta </div>
</div>
charset="UTF-8">
{% endfor %} <div
{% for song in genre_songs %}
to
<ul>

Exploration</title> </ul>
{{ song.artist }}</li> by href="{{ url_for('dashboard_page') }}"><button
{% for genre in genres %}
id="genre-songs"> <option
html>
</body>

<li>{{ genre.genre_name }}: <div
<body>
{% for artist in genre_artists %}
<option
<!DOCTYPE lang="en"> <h2>Songs</h2>
value="">Select
id="genres-page">
{% endfor %}

</div> Dashboard</button></a>
<html
<div
<title>Genre
id="back-to-dashboard">Back
<ul>
<head>
Exploration</h1>

{% endfor %} <div {% for genre in genres %} </select> <h2>Artists</h2>
{% endfor %}
<ul>
</div>
