<form id="remove-song-button-{{ song.song_id }}">Remove</button>
<th>Artist</th> id="playlist-description">{{ playlist.description }}</div>
<th>Action</th>
type="submit" method="POST"
<div </tr>
<td>
<tbody>
{% for song in songs_in_playlist %} <tr>
</thead> </head>
id="playlist-title">{{ playlist.title }}</h1> {% endfor %}

html> </td> id="songs-in-playlist"
</tr>
id="playlist-details-page">
Playlist</button>
<table
<form
</table>
<h1
action="{{ url_for('remove_song_from_playlist', playlist_id=playlist.playlist_id, song_id=song.song_id) }}">
charset="UTF-8">
<button
<div
border="1">
<td>{{ song.duration }}s</td>
<th>Duration</th>
<th>Title</th>
</tbody> <button <body>
</div> <td>{{ song.title }}</td> </form>
<td>{{ song.artist }}</td>
<meta
method="POST"
</body>
<head>
type="submit"

<title>Playlist <html Details</title>
</form> </html> <!DOCTYPE id="delete-playlist-button">Delete
action="{{ url_for('delete_playlist', playlist_id=playlist.playlist_id) }}">
<thead>
<tr>
lang="en">
