Dashboard</button></a> </div>
href="{{ url_for('dashboard_page') }}"><button id="create-playlist-button">Create
<a
class="playlist-item"> <meta
</head> <a
id="view-playlist-button-{{ playlist.playlist_id }}">View</button>
</div>
charset="UTF-8"> <div>{{ playlist.title }}
<html <title>My

<!DOCTYPE <div
</div>
({{ playlist.song_count }} id="playlists-page">
id="playlists-grid"> href="{{ url_for('playlist_details_page', playlist_id=playlist.playlist_id) }}"> songs)</div>
to lang="en">
href="{{ url_for('create_playlist_page') }}"><button <button
id="back-to-dashboard">Back
<div
<body>
</html>

</body> Playlists</title> <a Playlists</h1>
</a> <head> {% for playlist in playlists %} Playlist</button></a> <h1>My
<div
html>
{% endfor %}
