<title>Movie Dashboard</h1>
id="view-bookings-button" id="dashboard-page">
{{ movie.rating }}</li>
{% endif %} {{ movie.genre }}
onclick="location.href='{{ url_for('movie_catalog') }}'">Browse <head> <html
Ticketing
<!DOCTYPE
<button charset="UTF-8">
<div Rating: </ul>
{% endfor %} onclick="location.href='{{ url_for('booking_history') }}'">View
disabled>Showtimes</button>
{% if featured_movies|length > 0 %}
<meta </head> <ul> id="featured-movies"> Dashboard</title> <h1>Movie
</body>
{% else %}
<body>
<button Movies</button> onclick="location.href='{{ url_for('select_showtime', movie_id=featured_movies[0].movie_id) }}'">Showtimes</button> </div>
id="browse-movies-button" <div id="showtimes-button" -
</div>
<li>{{ movie.title }} <button lang="en">
Ticketing
id="showtimes-button" </html> <button
-
html>
{% for movie in featured_movies %}
Bookings</button>