<head> {{ movie.director }}</div>
<button id="movie-title">{{ movie.title }}</h1>
id="movie-rating">Rating:
<title>Movie <html
<div id="movie-details-page">
id="select-showtime-button"
<div
Details</title> {{ movie.rating }}</div>
<body> Showtime</button>
</head> </div> <meta
lang="en"> <div <!DOCTYPE
</body> <div
<h1 charset="UTF-8"> id="movie-director">Director: id="movie-description">{{ movie.description }}</div>
onclick="location.href='{{ url_for('select_showtime', movie_id=movie.movie_id) }}'">Select
</html>
html>