onclick="location.href='{{ url_for('select_seats', showtime_id=showtime.showtime_id) }}'">Select {% if request.args.get('theater_id', type=int) == theater.theater_id %}selected{% endif %}>{{ theater.theater_name }}
</select> filters.</p>
{% if showtimes|length == 0 %}
for="theater-filter">Filter <meta
</head> <div
Price:
{{ showtime.showtime_time }}
charset="UTF-8"> onchange="this.form.submit()">
<p>{{ showtime.showtime_date }} <title>Select
id="select-showtime-button-{{ showtime.showtime_id }}" <label <option
Theater:</label> id="showtime-page"> for showtimes
</div> </html> </div> onchange="this.form.submit()">
<label <div <p>No
available
Theaters</option> Showtime</title> for="date-filter">Filter Showtime</h1>
<button
<head>
action=""> ${{ "%.2f"|format(showtime.price) }}</p> <h1>Select the
html> Seats</button> name="date" <option by value="{{ request.args.get('date', '') }}"
value="{{ theater.theater_id }}"
selected </div>
lang="en">
value="">All Date:</label>
{% endfor %} class="showtime-card"> <input {% endif %} {% endfor %}
<div type="date" </body> {% for theater in theaters %}
id="theater-filter"
<html
<select
<body> id="showtimes-list"> <!DOCTYPE method="get" <form - id="date-filter"
name="theater_id"
({{ theater.city }})</option>
</form>
by
{% for showtime in showtimes %}