{{ theater.city }} {{ theater.location }}
<!DOCTYPE Screens:
for="theater-location-filter">Filter
</body> </head>
<body> id="back-to-dashboard"
action="">
Information</title>
{% if theater.city not in locations %} id="theaters-list">
</select> html>
</div> Location:</label> id="theater-page">
</li> <div {% for theater in theaters %} value="">All
<label {% endfor %} Locations</option> </ul>
{{ theater.screens }} {% endfor %} <h1>Theater
<title>Theater
value="{{ location }}"
name="location"
<meta
<option
<select
to
id="theater-location-filter" method="get" onchange="this.form.submit()">
{% endfor %}
{% set locations = [] %}
<ul>
</form> <li>{{ theater.theater_name }}
{{ theater.facilities }}</div>
<head>
onclick="location.href='{{ url_for('dashboard') }}'">Back </div> by - </html> <div id="facilities-display">Facilities: -
{% for location in locations|sort %} charset="UTF-8"> <form
{% for theater in theaters %}
{% endif %}
{% do locations.append(theater.city) %}
Dashboard</button>
- <html <div {% if request.args.get('location') == location %}selected{% endif %}>{{ location }}</option> <option
<button
Information</h1>
lang="en">