<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bookmarks</title>
</head>
<body>
    <div id="bookmarks-page">
        <div id="bookmarks-container">
            {% for bookmark in bookmarks %}
            <div class="bookmark-entry">
                <h3>{{ bookmark.title }}</h3>
                <p>Date Bookmarked: {{ bookmark.bookmarked_date }}</p>
                <button id="read-bookmark-button-{{ bookmark.bookmark_id }}" onclick="location.href='{{ url_for('article_details', article_id=bookmark.article_id) }}'">Read Article</button>
            </div>
            {% endfor %}
        </div>
        <button id="back-to-dashboard" onclick="location.href='{{ url_for('dashboard') }}'">Back to Dashboard</button>
    </div>
</body>
</html>