<head> Courses</button>
</ul> </div>
to
Learning</title> type="submit"
<meta lang="en">
html>
charset="UTF-8">
{% endif %} <button
<p>{{ current_lesson.content }}</p> <form </div>

<h1>Course id="learning-page">
Learning:
{% for lesson in lessons %}
<div Complete</button>
<body>
{{ course.title }}</h1>
id="mark-complete-button"

<h2>{{ current_lesson.title }}</h2> as
onclick="location.href='{{ url_for('my_courses') }}'">Back
action="{{ url_for('course_learning', course_id=course.course_id) }}">
type="submit">Mark

<button <ul> Complete</button>
disabled>Mark
{% if can_mark_complete %} id="lesson-content"> id="lessons-list"> {% endfor %} My
<!DOCTYPE
style="font-weight:bold"{% endif %}>{{ lesson.title }}</li> <button </body> </html> <li{% if lesson.lesson_id == current_lesson.lesson_id %} {% else %}
</head>
</div>

id="mark-complete-button" <title>Course <div method="POST" id="back-to-my-courses" <html
<div
</form>
as