<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Details</title>
</head>
<body>
    <div id="item-details-page">
        <h1 id="item-name">{{ item.item_name }}</h1>
        <div id="item-description">{{ item.description }}</div>
        <div id="item-price">Price: ${{ item.price }}</div>
        <form method="post">
            <label for="quantity-input">Quantity:</label>
            <input id="quantity-input" name="quantity" type="number" value="1" min="1">
            <button id="add-to-cart-button" type="submit">Add to Cart</button>
        </form>
    </div>
</body>
</html>