<!DOCTYPE {{ destination.attractions }}</div>
id="destination-name">{{ destination.name }}</h1> id="destination-attractions">Attractions:
lang="en">
<title>Destination <head>
<meta <button
{{ destination.country }}</div>
Details</title>
</html> to
<h1 </body>
<div <html id="destination-description">{{ destination.description }}</div>
</head> id="destination-details-page">
html> <div onclick="window.location.href='{{ url_for('itinerary') }}'">Add
Trip</button> <div id="add-to-trip-button" charset="UTF-8"> <body>
</div>
id="destination-country">Country:
<div