required <div
<head> for="start-date-input">Start
Itinerary</title>
Your id="end-date-input"
Itineraries</h2> {{ it.status }} />
lang="en">
<br
Date:</label> type="date"
id="add-activity-button">Add <input <input
Activity</button> /> type="date"
Status: for="itinerary-name-input">Itinerary <form
name="start_date" Your name="end_date" <body> Activities: <html
<label <input
</html> /> <!DOCTYPE
required id="itinerary-page"> {{ it.start_date }} to </body> <title>Plan
/> <ul>
/> to Date:</label>
<label <label /> <h2>Your /> for="end-date-input">End
{% for it in itineraries %} id="itinerary-name-input"
</li> {{ it.destination }} </div> Itinerary</h1>
</form>
<div charset="UTF-8">
type="submit" </ul>
required
{% endfor %}
<meta
</head> Name:</label> id="itinerary-list"> type="text" from <br <li> <button
<strong>{{ it.itinerary_name }}</strong> {{ it.end_date }}<br />
name="itinerary_name" id="start-date-input"
<br
<h1>Plan
html>
{{ it.activities }}<br
method="POST"
</div>
action="{{ url_for('itinerary') }}">