{{ flight.arrival_time }}</p> for="arrival-city">Arrival
<label Flights</h1>
method="POST"
<meta {% if flight_class_filter == 'Business' %}selected{% endif %}>Business</option>
<!DOCTYPE </form>
value="Business"
/>
<label Arrival:
value="Economy" <input
id="available-flights"> <form type="date"
type="text" id="flight-class-filter" </html>
name="departure_date" <p>Price: </div> Class: /> </div>
<button <body>
<br <br {{ flight.class_type }}</p>
lang="en"> {% if flight_class_filter == 'Economy' %}selected{% endif %}>Economy</option> value="{{ departure_city if departure_city else '' }}" name="departure_city" <div type="text"
type="submit">Search</button> id="transportation-page">
/> for="departure-date">Departure <h3>{{ flight.airline }}
{% for flight in flights %} <html {{ flight.departure_time }}, </select> Date:</label> <br
charset="UTF-8"> <select
/> <p>Duration: />
to Flights</title> City:</label>
</body> ${{ flight.price }}</p>
<br <div City:</label>
html> id="arrival-city" class="flight-card">
<label <option <p>From
<head>
{{ flight.duration }}, {{ flight.arrival_city }}</p>
<label for="departure-city">Departure
{% if flight_class_filter == 'First' %}selected{% endif %}>First</option>
value="{{ arrival_city if arrival_city else '' }}" <option
<input
name="arrival_city" </div>
name="flight_class_filter"> id="departure-date"
for="flight-class-filter">Flight <h1>Book /> action="{{ url_for('transportation') }}">
</head> id="departure-city" /> <input
Flight</h3> {% endfor %} value="{{ departure_date if departure_date else '' }}" Class:</label>
<option <div
<p>Departure:
value="First"
<option
value="">Any</option>
<title>Book
{{ flight.departure_city }}