id="back-to-dashboard" Bookmarks</h1>
<span>{{ bookmark.article_title }} on
</div>
</html> <div
</div> id="bookmarks-page">
html>
type="submit"
<head> </head>
<button </div>
onclick="location.href='{{ url_for('dashboard_page') }}'">Back lang="en">
to
<meta id="read-bookmark-button-{{ bookmark.bookmark_id }}"
<button <!DOCTYPE (Bookmarked <body>
<title>My onclick="location.href='{{ url_for('article_details', article_id=bookmark.article_id) }}'">Read</button> </body> id="remove-bookmark-button-{{ bookmark.bookmark_id }}">Remove</button>
{% for bookmark in bookmarks %} <div <div
<form
action="{{ url_for('remove_bookmark', bookmark_id=bookmark.bookmark_id) }}" class="bookmark-entry"> style="display:inline;">
id="bookmarks-list">
<h1>My
</form>
Dashboard</button> <html charset="UTF-8"> {{ bookmark.bookmarked_date }})</span> Bookmarks</title>
<button
{% endfor %}
method="POST"
