{{ article.author }} <button
onclick="location.href='?sort=date'">Sort Popularity</button>
{% endfor %}
<title>Category <button
charset="UTF-8"> </div>
<head>
to
<h1 id="category-page">
</div> <html {{ article.views }}</p> <meta <body>
</body> </head>
id="category-title">Category
onclick="location.href='?sort=popularity'">Sort Date</button>
<div
| onclick="location.href='{{ url_for('dashboard_page') }}'">Back id="sort-by-popularity" <div <button Articles <h3>{{ article.title }}</h3>
{{ category_name }}</h1>
Dashboard</button>
class="category-article">
Views: id="back-to-dashboard" lang="en"> Articles</title> by
<p>By html> {% for article in category_articles %} by on
<!DOCTYPE <div id="sort-by-date" </html> </div>
-
{{ article.date }}
id="category-articles">
