<button <option
<option </div>
<!DOCTYPE
class="comment-entry"> Comment</button>
Dashboard</button> </select>
id="comments-list">
{% for article in articles %}
{% for comment in comments %} <div
id="comments-page"> on
</head>
<h4>{{ comment.commenter_name }} <head> onclick="location.href='{{ url_for('dashboard_page') }}'">Back
<html value="{{ article.article_id }}">{{ article.title }}</option> Comments</title>
<em>{{ comment.article_title }}</em>
name="article_filter"> ({{ comment.comment_date }})</h4>
id="write-comment-button"
<select
html>
lang="en"> {% endfor %}
<title>Article
</div> <p>{{ comment.comment_text }}</p>
<h1>Article {% endfor %} <meta <body>
<div
Comments</h1>
Articles</option>
to
</div> id="back-to-dashboard" charset="UTF-8"> </html>
</div> onclick="location.href='{{ url_for('write_comment') }}'">Write <div value="">All <div>
id="filter-by-article"
</body>
<button
