</div> class="featured-article">
<meta id="dashboard-page">
on
<body> onclick="location.href='{{ url_for('article_catalog') }}'">Browse
<h3>{{ article.title }}</h3> Articles</button>
{{ article.date }}</small>
<head>
Portal</title> id="trending-articles-button"
{% for article in featured_articles %} <div
<div </html>
<small>By
</div> <h1>News
charset="UTF-8">
id="featured-articles">
{{ article.author }} html> <title>News lang="en">
</head>
id="view-bookmarks-button"
</body>
Bookmarks</button> </div> <button <p>{{ article.excerpt }}</p>
<div <button <button <html
Portal</h1> onclick="location.href='{{ url_for('bookmarks_page') }}'">View {% endfor %} Articles</button>
onclick="location.href='{{ url_for('trending_articles') }}'">Trending
id="browse-articles-button"
<!DOCTYPE
