<button id="write-comment-page">
</head> <h1>Write
required>
<head> action="{{ url_for('submit_comment') }}">
<div id="submit-comment-button">Submit </body>
type="submit"
name="commenter_name"
<br> <label
a <select {% endfor %}
<form lang="en"> <label
<input Comment</h1> <option
for="comment-text">Comment:</label> <textarea name="article_id">
value="{{ article.article_id }}">{{ article.title }}</option>
method="POST" </html>
Article:</label>
{% for article in articles %}
<br>
</form> <br> <title>Write
for="select-article">Select html> <body> id="comment-text" Comment</button>
</div>
<meta for="commenter-name">Your
<html id="select-article" a Comment</title>
</select>
<!DOCTYPE name="comment_text" id="commenter-name" charset="UTF-8">
Name:</label>
type="text"
<label
required></textarea>
