{% endfor %} <li>{{ trip.trip_name }}:
to onclick="location.href='{{ url_for('destinations') }}'">Browse
<ul>
<title>Travel </ul>
charset="UTF-8"> Trips</h2> <head>
onclick="location.href='{{ url_for('plan_itinerary') }}'">Plan
id="dashboard-page">
<div </div>
<html <h2>Upcoming <meta

</head> </body>
Dashboard</title> <h1>Travel
<button
{% endfor %}
<body> <div
id="plan-itinerary-button"
</div>
id="featured-destinations">

Destinations</button> Planner
<li>{{ dest.name }}, <div
Itinerary</button>
{% for dest in featured_destinations %}
id="upcoming-trips"> <button lang="en"> Planner
id="browse-destinations-button"
{{ dest.country }}</li>
html>

Destinations</h2> {{ trip.end_date }}</li> </ul> <!DOCTYPE
<ul> {{ trip.start_date }} </html> {% for trip in upcoming_trips %}
Dashboard</h1>
</div>
<h2>Featured