<!DOCTYPE successfully
</body> {% endif %}
</html>
<div </form>
<h1 id="destination-country">{{ destination.country }}</div>
<button
<head>
type="submit">Add </head>
id="destination-details-page"> Trip</button>
method="POST" html>
lang="en"> <title>Destination
Details</title> {% if add_success is defined and add_success %}

id="destination-description">{{ destination.description }}</div> to added
action=""> <body> <html <meta trip!</div>
id="add-to-trip-button"

<div>Destination
id="destination-name">{{ destination.name }}</h1> <form </div> your charset="UTF-8"> to
<div
id="destination-attractions">{{ destination.attractions }}</div>
<div
<div