<h1>Plan Status:
</html> href="{{ url_for('delete_itinerary', itinerary_id=it.itinerary_id) }}">Delete</a>
<input
</div> type="submit">Add
type="date" action=""> </ul>
name="itinerary_name">
-
id="itinerary-name-input" Date:</label>
<div for="start-date-input">Start html>

<button id="add-activity-button" <div
<a {{ it.activities }}<br> href="{{ url_for('edit_itinerary', itinerary_id=it.itinerary_id) }}">Edit</a>
</form> id="itinerary-page"> Date:</label> |

<ul> <body> Itinerary</title>
method="POST" Activities: type="text" Name:</label>

Activity</button> <input </head>
({{ it.start_date }} type="date" name="end_date"> id="start-date-input"

<meta id="itinerary-list"> to <head>
<li>

<title>Plan <html
Your
{{ it.destination }}
{{ it.end_date }})
</li> - {% for it in itineraries %} <label </div> lang="en"> <label {{ it.status }}<br> name="start_date">
id="end-date-input" <form
</body> <label charset="UTF-8">
{{ it.itinerary_name }} <a
<!DOCTYPE
Itinerary</h1>
for="end-date-input">End
<input
for="itinerary-name-input">Itinerary
Your
{% endfor %}