<button {% if not selected_filters.flight_class %}selected{% endif %}>Any</option>
{% if selected_filters.flight_class == 'Economy' %}selected{% endif %}>Economy</option> <option
type="text"
value="Business" for="departure-city">Departure
Flights</h1> value=""
id="transportation-page">
<label
{{ flight.departure_city }} Date:</label>
value="Economy" <html

Class:</label> <p>Departure: </head>
</select> <div </body>
class="flight-card"> type="submit">Search {% endfor %} <option </form>

{{ flight.arrival_time }}</p> {% if selected_filters.flight_class == 'First Class' %}selected{% endif %}>First <h3>{{ flight.airline }}</h3>
value="First lang="en"> type="date" <label {{ flight.arrival_city }}</p>

for="departure-date">Departure to id="departure-date"
charset="UTF-8"> method="GET" {% for flight in flights %} City:</label> id="flight-class-filter"

</html> <label {% if selected_filters.flight_class == 'Business' %}selected{% endif %}>Business</option>
{{ flight.duration }} <title>Book City:</label>
<label </div> value="{{ selected_filters.departure_city }}">
Flights</button> name="flight_class"> id="available-flights">
value="{{ selected_filters.dep_date }}"> <h1>Book <div
id="arrival-city" Class: ${{ flight.price }}</p> Class</option> {{ flight.departure_time }}
html>

<!DOCTYPE for="flight-class-filter">Flight <option
<select

Arrival: <input
|
<p>From: <form
<body>
<div <option </div> name="dep_date"
<meta <input <p>Price: <head> -
id="departure-city" action="{{ url_for('transportation') }}"> value="{{ selected_filters.arrival_city }}"> name="departure_city" </div>
name="arrival_city" for="arrival-city">Arrival
Flights</title>
{{ flight.class_type }}</p>
<p>Duration:
type="text"
<input
Class"