<body> html>
delete <td>{{ trip.status }}</td>
sure
<tr> you
to </form>
<button
<!DOCTYPE
Trips</h1> </body>
id="view-trip-details-button-{{ trip.trip_id }}" </tr>

<th>Trip <th>Status</th> <meta
id="trips-table"
<td>{{ trip.end_date }}</td>
<td>{{ trip.start_date }}</td> style="display:inline;"
onclick="location.href='{{ url_for('edit_trip', trip_id=trip.trip_id) }}'">Edit</button>
<tr> <thead>
onclick="location.href='{{ url_for('trip_details', trip_id=trip.trip_id) }}'">View</button> </tr>
<button
action="{{ url_for('delete_trip', trip_id=trip.trip_id) }}"
</td>
<form
Date</th>
id="trips-page">
<div
<td>{{ trip.destination }}</td>
</table>
</div>
confirm('Are
</head>
<title>My
<tbody> method="POST" <head>
<td>{{ trip.trip_name }}</td> <th>Actions</th> <th>End
Name</th> type="submit">Delete</button> you id="edit-trip-button-{{ trip.trip_id }}" <table trip?');"> {% for trip in trips %} </thead> <html {% endfor %} want lang="en"> Date</th> <button
border="1"> charset="UTF-8"> </tbody>
onsubmit="return
</html>
<h1>My
Trips</title>
<th>Destination</th>
<td>
id="delete-trip-button-{{ trip.trip_id }}"
this
<th>Start