<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Details</title>
</head>
<body>
    <div id="property-details-page">
        <h1>Property Details</h1>

        <h1 id="property-address">{{ property.address }}</h1>
        <div id="property-price">Price: ${{ "{:,.2f}"|format(property.price) }}</div>
        <div id="property-description">{{ property.description }}</div>
        <div id="property-features">
            <div>Beds: {{ property.bedrooms }}</div>
            <div>Baths: {{ property.bathrooms }}</div>
            <div>Square Feet: {{ property.square_feet }}</div>
        </div>

        <form action="{{ url_for('property_details', property_id=property.property_id) }}" method="POST">
            <button type="submit" id="add-to-favorites-button" name="add_to_favorites">Add to Favorites</button>
        </form>

        <a href="{{ url_for('property_inquiry') }}">
            <button id="submit-inquiry-button">Submit Inquiry</button>
        </a>
    </div>
</body>
</html>